::ng-deep .order-refunded_orders_page {
  position: relative;
  table {
    thead {
      tr {
        th {
          border: none;
        }
      }
    }
    tbody {
      tr {
        td:nth-child(1),
        td:nth-child(2),
        td:nth-child(3),
        td:nth-child(4),
        td:nth-child(6) {
          font-weight: 700;
        }
      }
    }
  }
}

::ng-deep .order-refunded_orders_page .search-input-tag {
  position: absolute;
  right: 228px;
}

::ng-deep .order-refunded_orders_page .product_list_filter {
  right: 118px !important;
}
::ng-deep .order-refunded_orders_page .export-lists:focus {
  box-shadow: none !important;
}
::ng-deep .order-refunded_orders_page .export-lists {
  position: absolute;
  right: 0;
  top: 68px;
  z-index: 1;
}
