<div class="modal fade page_loader_animation" role="dialog" [ngStyle]="{'display': spinner}" aria-hidden="true" style="opacity: 99999;display: block;">
    <div class="dash-loader">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            </div>
        <!-- <img src="assets/image/loader_ani.gif" alt="loader_ani" class="loader_ani"> -->
    </div>