.input-group {
  width: 20%;
}

::ng-deep .order-new_order_page {
  position: relative;
  .search-input-tag {
    position: absolute;
    right: 228px;
  }
  .product_list_filter {
    right: 118px !important;
  }
  .export-lists {
    position: absolute;
    right: 0;
    top: 68px;
    z-index: 1;
    &:focus {
      box-shadow: none !important;
    }
  }
  table {

    thead {
      tr {
        th {
          border: none;
        }
      }
    }
    tbody{
      tr{
        td:nth-child(1),
        td:nth-child(2),
        td:nth-child(3),
        td:nth-child(4),
        td:nth-child(7){
          font-weight: 700;
        }
      }
    }
  }
}
