.page_title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.sec_title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.bg_sw {
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 #ccc;
}

.input_search {
  position: relative;
  width: 300px;
  padding: 0;

  input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;

  }

  i {
    position: absolute;
    right: 10px;
    top: 10px;
  }

}