
::ng-deep .order-all_orders_page {
  #exampleModalCenter {
    .modal-header {
      font-size: 18px;
      font-weight: 800;
    }

    .order_details {

      .product_details {
        display: flex;
        gap: 20px;
        align-items: center;

        img {
          background-color: #ececec;
          padding: 5px;
          border-radius: 6px;
        }

        .product_name_size {
          text-align: left;

          .product_name {
            font-size: 16px;
            font-weight: 700;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: break-word;
            overflow: hidden;
            width: 280px;
          }

          .size {
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
