<div class="asset_page mt-5">
  <div class="container-fluid">
    <h2 class="text-center"><strong>ADD NEW ASSET</strong></h2>
    <form #testimonialForm="ngForm" (ngSubmit)="submitForm(testimonialForm)">
      <div class="row">

        <!-- Left Column: Asset Details -->
        <div class="col-lg-6 col-md-7">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>VEHICLE NAME</label>
              <input type="text" class="form-control" name="vehicleName" ngModel required maxlength="30">
            </div>
            <div class="form-group col-md-6">
              <label>CUBIC CAPACITY</label>
              <input type="text" class="form-control" name="cubicCapacity" ngModel required>
            </div>
            <div class="form-group col-md-6">
              <label>REGISTRATION NO.</label>
              <input type="text" class="form-control" name="registrationNo" ngModel required>
            </div>
            <div class="form-group col-md-6">
              <label>COLOUR</label>
              <input type="text" class="form-control" name="colour" ngModel required>
            </div>
            <div class="form-group col-md-6">
              <label>INSURANCE NO.</label>
              <input type="text" class="form-control" name="insuranceNo" ngModel required>
            </div>
            <div class="form-group col-md-6">
              <label>SEATING CAPACITY</label>
              <input type="number" class="form-control" name="seatingCapacity" ngModel required>
            </div>
            <div class="form-group col-md-6">
              <label>MONTH & YR OF</label>
              <input type="month" class="form-control" name="monthYrOf" ngModel required>
            </div>
            <div class="form-group col-md-6">
              <label>NEXT PASSING DUE</label>
              <input type="date" class="form-control" name="nextPassingDue" ngModel required>
            </div>
            <div class="form-group col-md-6">
              <label>MAKER'S NAME</label>
              <input type="text" class="form-control" name="makersName" ngModel>
            </div>
          </div>
        </div>

        <!-- Right Column: Documents Section -->
        <div class="col-lg-6 col-md-5">
          <div class="documents-section">
            <h5 class="mb-3">DOCUMENTS</h5>
            <div class="form-group">
              <label for="document">ADD NEW DOCUMENT</label>
              <input type="file" class="form-control" name="document" (change)="onDocumentSelected($event)">
            </div>
            <div class="form-group">
              <label>DOCUMENT TYPE</label>
              <select class="form-control" name="documentType" [(ngModel)]="documentType" required>
                <option value="" disabled selected>Select type</option>
                <option *ngFor="let option of documentTypeOptions" [value]="option">{{option}}</option>
              </select>
            </div>
          </div>
        </div>

      </div>
      <!-- Buttons -->
      <div class="mt-4 text-center">
        <button type="button" class="btn btn-secondary mr-3" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
