::ng-deep .setting-coupon_list {
  position: relative;
  .search-input-tag {
    right: 170px;
    position: absolute;
  }
  table {
    thead {
      tr {
        th {
          font-size: 12.9px;
          border: none;
        }
      }
    }
    tbody {
      tr {
        td:nth-child(-n+8) {
          font-weight: 700;
        }
      
      }
    }
  }
}
