<div class="setting-coupon_list">

    <app-common-table [settings]="settings" [source]="source" [count]="totalItems" [itemsPerPage]="limit"
        [tablename]="'Coupon List'" [add_btn]="add_btn" [addBtnUrl]="addBtnUrl" [addBtnName]="addBtnName"
        [editUrl]="editUrl" (onDeleteChange)="onDeleteChange($event)" [deleteApis]="deleteApis"
        (onDeleteChange)="onDeleteChange($event)" (onitemsPerPageChange)="onitemsPerPageChange($event)"
        [viewUrl]="viewUrl" [card_details]="card_details" (onPageChange)="onPageChange($event)"
        [bulk_action]="bulk_action" (onheaderCardChange)="onheaderCardChange($event)"
        (onSearchChange)="onSearchChange($event)">
    </app-common-table>
</div>