.order_status_modal {
  .modal-content {
    padding: 28px;
    text-align: left;
span{
  display: block;
}
    .title_close {
      display: flex;
      justify-content: space-between;
    }
    h5 {
      font-weight: 900;
      color: #1d1c1d;
      font-size: 20px;
    }
    h6 {
      font-size: 15px;
      color: #1d1c1d;
      margin: 20px 0;
      font-weight: 500;
    }
    .product_details {
      display: flex;
      gap: 15px;
      align-items: center;
      border: 1px dashed #ccc;
      padding: 10px;
      border-radius: 6px;
      margin-bottom: 20px;
      img {
        background-color: #ccc;
        padding: 10px;
        border-radius: 6px;
        width: 55px;
        height: 55px;
      }
      h4 {
        color: #1d1c1d;
        font-size: 15px;
        font-weight: 900;
      }
      p {
        color: #1d1c1d;
        font-weight: 600;
        font-size: 15px;
        margin: 0;
      }
    }
    .yes_no {
      display: flex;
      justify-content: end;
      button:nth-child(1) {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 8px 30px;
        margin-right: 10px;
        font-weight: 700;
      }
      button:nth-child(2) {
        background-color: #e01e5a;
        color: #ffffff;
        border-radius: 6px;
        padding: 8px 30px;
        font-weight: 700;
      }
    }
  }
}
