::ng-deep .ng-select.custom-ng-select .ng-select-container {
  /* Add your custom styles here */
  border: none;
  box-shadow: none;
  background-color: transparent;
}

::ng-deep .custom-ng-select .ng-select-container {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

::ng-deep .custom-ng-select .ng-select-container .ng-clear-wrapper,
::ng-deep .ng-select.custom-ng-select .ng-select-container .ng-clear-wrapper {
  display: none !important; /* Hide the dropdown arrow */
}

.walkthrough_image {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
  position: relative;
}
input,
ng-select {
  font-size: 14px;
  font-weight: 700;
  color: #99a1b7;
}
ng-select {
  padding: 0;
}

.title span {
  font-size: 14.35px;
  color: #99a1b7;
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: 600;
}
.setting-add_edit_walkthrough_image :where(.status, .specification, .title) {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
  margin-bottom: 20px;
}
input,
ng-select {
  font-size: 14px;
  font-weight: 700;
  color: #99a1b7;
  margin-bottom: 15px;
}
ng-select {
  padding: 0;
}

label {
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--bs-gray-800);
  font-size: 15px;
}

::ng-deep .inline_cat_image {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  position: relative;

  input.input_pencil {
    width: 30px;
    border: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    right: -10px;
    top: -10px;
    &::-webkit-file-upload-button {
      width: 28px;
      height: 28px;
      border-radius: 15px;
      border: none;
      background: #fff;
      background-image: url("../../../../assets/image/pencil.png");
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0px 0 3px 0 #ccc;
      color: #fff0;
      z-index: 1;
      position: relative;
    }
    &::-webkit-file-upload-button:focus-visible {
      outline: none;
    }
  }
  .img_center_call {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 15px auto;
    box-shadow: 0 0 80px 0 #dddddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    img {
      box-shadow: 0 0 4px 0 #f1f1f1;
    }
  }

  .preview {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 142px;
    height: 142px;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      // width: 100%;
      display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff;
    padding: 7px;
    }
  }
}

p.image_size_filter {
  font-size: 13px;
  text-align: center;
  margin-top: 34px;
  color: #99a1b7;
}
