.order-user_returns_page {
  position: relative;
}


::ng-deep .order-user_returns_page .product_list_filter {
  right: 118px !important;
}
::ng-deep .order-user_returns_page .export-lists:focus {
  box-shadow: none !important;
}
::ng-deep .order-user_returns_page .export-lists {
  position: absolute;
  right: 0;
  top: 68px;
  z-index: 1;
}
