<div class="contract-page mt-4">
  <div class="container-fluid">
    <h2 class="text-center">
      <strong>
        {{ mode === 'add' ? 'Add Contract' : mode === 'edit' ? 'Edit Contract' : 'View Contract' }}
      </strong>
    </h2>

    <form #contractForm="ngForm" (ngSubmit)="submitForm(contractForm)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Client Name</label>
            <input type="text" class="form-control" [(ngModel)]="clientName" name="clientName" [readonly]="readonly" required>
          </div>
          <div class="form-group">
            <label>Contract ID</label>
            <input type="text" class="form-control" [(ngModel)]="contractId" name="contractId" [readonly]="readonly">
          </div>
          <div class="form-group">
            <label>Start Date</label>
            <input type="date" class="form-control" [(ngModel)]="startDate" name="startDate" [readonly]="readonly">
          </div>
          <div class="form-group">
            <label>End Date</label>
            <input type="date" class="form-control" [(ngModel)]="endDate" name="endDate" [readonly]="readonly">
          </div>
          <div class="form-group">
            <label>Contract Type</label>
            <select class="form-control" [(ngModel)]="contractType" name="contractType" [disabled]="readonly">
              <option value="Fixed">Fixed</option>
              <option value="Flexible">Flexible</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
  <label>Buses Deployed</label>
  <ng-select
    [items]="fleetOptions"
    bindLabel="vehicleName"
    bindValue="_id"
    [(ngModel)]="busesDeployed"
    name="busesDeployed"
    [multiple]="true"
    [disabled]="readonly"
    placeholder="Select Buses">
  </ng-select>
</div>
          <div class="form-group">
  <label>Drivers Deployed</label>
  <ng-select
    [items]="employeeOptions"
    bindLabel="name"
    bindValue="_id"
    [(ngModel)]="driversDeployed"
    name="driversDeployed"
    [multiple]="true"
    [disabled]="readonly"
    placeholder="Select Drivers">
  </ng-select>
</div>
          <div class="form-group">
            <label>Contact Officer</label>
            <input type="text" class="form-control" [(ngModel)]="contactOfficer" name="contactOfficer" [readonly]="readonly">
          </div>
          <div class="form-group">
            <label>Invoicing Date</label>
            <input type="date" class="form-control" [(ngModel)]="invoicingDate" name="invoicingDate" [readonly]="readonly">
          </div>
          <div class="form-group">
            <label>Last Payment Date</label>
            <input type="date" class="form-control" [(ngModel)]="lastPayment" name="lastPayment" [readonly]="readonly">
          </div>
          <div class="form-group" *ngIf="mode !== 'add'">
            <label>Status</label>
            <select class="form-control" [(ngModel)]="status" name="status" [disabled]="readonly">
              <option [value]="1">Active</option>
              <option [value]="2">Inactive</option>
              <option [value]="0">Deleted</option>
            </select>
          </div>
        </div>
      </div>

      <div class="mt-4 text-center" *ngIf="!readonly">
        <button type="button" class="btn btn-secondary mr-3" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">{{ id ? 'Update' : 'Save' }}</button>
      </div>
    </form>
  </div>
</div>
