<div class="container page-content">
  <form #tagAddEditForm="ngForm" (ngSubmit)="onFormSubmit(tagAddEditForm)" autocomplete="off">

    <div class="row">
      <div class="col-md-6">
        <label>Carrier Name <span class="mandatory">*</span></label>
        <input type="text" class="form-control" name="carrierName" [(ngModel)]="userDetails.carrierName"
               required maxlength="30" #carrierName="ngModel">
        <div *ngIf="tagAddEditForm.submitted && carrierName.errors" class="text-danger">
          Carrier Name is required (max 30 chars).
        </div>
      </div>

      <div class="col-md-6">
        <label>No. of Drivers <span class="mandatory">*</span></label>
        <input type="text" class="form-control" name="noOfDrivers" [(ngModel)]="userDetails.noOfDrivers"
               required maxlength="30" (keypress)="onlyNumbers($event)" #noOfDrivers="ngModel">
        <div *ngIf="tagAddEditForm.submitted && noOfDrivers.errors" class="text-danger">
          No. of Drivers is required (numbers only).
        </div>
      </div>

      <div class="col-md-6">
        <label>Contract ID <span class="mandatory">*</span></label>
        <input type="text" class="form-control" name="contractId" [(ngModel)]="userDetails.contractId"
               required maxlength="30" #contractId="ngModel">
        <div *ngIf="tagAddEditForm.submitted && contractId.errors" class="text-danger">
          Contract ID is required (max 30 chars).
        </div>
      </div>

      <div class="col-md-6">
        <label>Contract Type <span class="mandatory">*</span></label>
        <select class="form-control" name="contractType" [(ngModel)]="userDetails.contractType"
                required #contractType="ngModel">
          <option value="" disabled selected>Select</option>
          <option *ngFor="let type of contractTypes" [value]="type">{{ type }}</option>
        </select>
        <div *ngIf="tagAddEditForm.submitted && contractType.errors" class="text-danger">
          Contract Type is required.
        </div>
      </div>

      <div class="col-md-6">
        <label>Start Date <span class="mandatory">*</span></label>
        <input type="date" class="form-control" name="startDate" [(ngModel)]="userDetails.startDate"
               required #startDate="ngModel">
        <div *ngIf="tagAddEditForm.submitted && startDate.errors" class="text-danger">
          Start Date is required.
        </div>
      </div>

      <div class="col-md-6">
        <label>End Date <span class="mandatory">*</span></label>
        <input type="date" class="form-control" name="endDate" [(ngModel)]="userDetails.endDate"
               required #endDate="ngModel">
        <div *ngIf="tagAddEditForm.submitted && endDate.errors" class="text-danger">
          End Date is required.
        </div>
      </div>

      <div class="col-md-6">
        <label>No. of Buses <span class="mandatory">*</span></label>
        <input type="text" class="form-control" name="noOfBuses" [(ngModel)]="userDetails.noOfBuses"
               required maxlength="30" (keypress)="onlyNumbers($event)" #noOfBuses="ngModel">
        <div *ngIf="tagAddEditForm.submitted && noOfBuses.errors" class="text-danger">
          No. of Buses is required (numbers only).
        </div>
      </div>

      <div class="col-md-6">
        <label>Contact Officer <span class="mandatory">*</span></label>
        <input type="text" class="form-control" name="contactOfficer" [(ngModel)]="userDetails.contactOfficer"
               required maxlength="30" #contactOfficer="ngModel">
        <div *ngIf="tagAddEditForm.submitted && contactOfficer.errors" class="text-danger">
          Contact Officer is required (max 30 chars).
        </div>
      </div>
    </div>

    <h5 class="mt-4">Documents</h5>
    <div class="row">
      <div class="col-md-6">
        <label>Upload Document <span class="mandatory">*</span></label>
        <input type="file" class="form-control" name="documentFile" [(ngModel)]="userDetails.documentFile"
               required accept=".pdf,.doc,.docx" #documentFile="ngModel">
        <div *ngIf="tagAddEditForm.submitted && documentFile.errors" class="text-danger">
          Document is required.
        </div>
      </div>

      <div class="col-md-6">
        <label>Document Type <span class="mandatory">*</span></label>
        <select class="form-control" name="documentType" [(ngModel)]="userDetails.documentType"
                required #documentType="ngModel">
          <option value="" disabled selected>Select</option>
          <option *ngFor="let type of documentTypes" [value]="type">{{ type }}</option>
        </select>
        <div *ngIf="tagAddEditForm.submitted && documentType.errors" class="text-danger">
          Document Type is required.
        </div>
      </div>
    </div>

    <div class="mt-4 text-center">
      <button type="button" class="btn btn-secondary mr-2" routerLink="/app/carrier/list">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="submitebtn">Submit</button>
    </div>

  </form>
</div>
