.our_story {
  .healthy_eating_our_story {
    width: 1250px;
    margin: auto;
    .healthy_eating {
      padding: 40px;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      min-height: 907px;
      overflow: hidden;
      background-color: #ddf6ec;
      position: relative;
      &::after {
        content: "";
        background-image: url("../../../assets/pillai_images/our_story/farm_hand-drawn.png");
        background-size: 100%;
        width: 100%;
        height: 850px;
        display: block;
        position: absolute;
        filter: brightness(0) saturate(100%) invert(94%) sepia(18%)
          saturate(235%) hue-rotate(92deg) brightness(94%) contrast(89%);
        background-repeat: no-repeat;
        background-position: 0 60px;
        bottom: 0;
        left: 0;
      }
    }
    
    .pillais_logo {
      width: 230px;
      margin: auto;
      display: flex;
      z-index: 1;
      position: relative;
    }
    h4 {
      color: #0a472e;
      font-size: 29px;
      font-weight: 800;
      line-height: 1.7em;
      text-align: center;
      z-index: 1;
      position: relative;
    }
    .our_story_rht {
      padding: 40px;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      text-align: center;
      background-color: #f7edf8;
      h2 {
        color: #0a472e;
        font-size: 44px;
        font-weight: 800;
        line-height: 1.7em;
      }
      p {
        color: #222222;
        font-size: 16px;
        font-weight: 600;
        line-height: 2em;
        b {
          color: #222222;
          font-size: 20px;
          font-weight: 800;
          line-height: 1.7em;
        }
      }
    }
    .sec_title {
      color: #222222;
      font-size: 44px;
      font-weight: 800;
    }
    :where(.who_we_are, .our_product, .how_we_wok) {
      align-items: center;
      width: 1100px;
      margin: auto;

      img {
        width: 450px;
        border-radius: 16px 16px 16px 16px;
        box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.1);
      }
      p {
        color: #7a7a7a;
        font-size: 17px;
        font-weight: 600;
        line-height: 2em;
      }
      .content {
        width: 445px;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .our_story {
    .healthy_eating_our_story {
      :where(.who_we_are, .how_we_wok) {
        flex-direction: column-reverse;
      }
      :where(.who_we_are, .our_product, .how_we_wok) {
        img {
          width: 100%;
        }
        .content {
          width: unset;
        }
      }
    }
  }
}
