cui-breadcrumb {
    margin-top: 10px;

    .breadcrumb {
        .breadcrumb-item {
            a {
                color: #000;
                font-weight: 600;
                text-decoration: none;
            }

            &.active {
                span {
                    color: #212529bf;
                    font-weight: 600;
                }

            }
        }
    }
}