.forgot_password {
  .container {
    max-width: 1200px;
  }

  h3 {
    text-align: center;
    color: #222222;
    font-family: "Signika", Sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 1em;
  }

  form {
    h4 {
      b {
        color: #222222;
        font-size: 16px;
        font-weight: 900;
      }
    }

    label {
      color: #222222;
      font-size: 16px;
      font-weight: 900;
    }

    input {
      border-radius: 6px;
      padding: 16px;
      background: #e8f0fe;
      border: none;
      font-size: 14px;
      width: 500px;
      margin-top: 15px;
    }

    button {
      background-color: #0a472e;
      border: none;
      color: #fff;
      padding: 12px 32px;
      border-radius: 6px;
      font-weight: 700;
      margin-top: 30px;
    }
  }
}

.pop_cls_btn {
  cursor: pointer;
}
.pop_cls_btn:hover {
  color: red;
}

.signup-btn {
  background: #de3f28;
  border: 2px solid #de3f28;
}
.modal-footer .signup-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 8px;
}

::ng-deep .verifyotp-model.modal-dialog {
  max-width: 500px !important;
  width: 500px !important;
  min-width: 500px !important;

  .modal-header {
    display: flex;
    justify-content: space-between;
  }
}

::ng-deep .forgotpas-model.modal-dialog {
  max-width: 600px !important;
  width: 700px !important;
  min-width: 500px !important;
}

::ng-deep .changepass-model.modal-dialog {
  max-width: 700px !important;
  width: 700px !important;
  min-width: 500px !important;
}

// ::ng-deep .register-model.modal-dialog {
//     max-width: 400px !important;
// }

.sign_up {
  height: 100vh;
}

.sign_up .container-fluid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
}

.login-left {
  width: 60%;
}

.login-right {
  width: 40%;
  text-align: center;
}

.login-left img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.login-right h2 {
  font-size: 24px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  // font-family: 'VulturaRegular';
  font-weight: 500;
}

.login-right p {
  margin: 0 0 7px 0;
  font-size: 16px;
  color: #4a4a4a;
  line-height: 19px;
}

.sign_up_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: unset;
  width: 371px;
  margin: 20px auto;
}

.sign_up_form input {
  width: 371px;
  height: 44px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #929292;
  padding: 0 15px;
  color: #929292;
  outline: none;
}

.sign_up_form button {
  width: 371px;
  height: 44px;
  clear: both;
  background: #f02828;
  border-radius: 40px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

span.border-or {
  border-bottom: 1px solid #929292;
  width: 84%;
  height: 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 55px auto;
  position: relative;
}

.border-or p {
  position: absolute;
  left: 0;
  right: 0;
  top: -11px;
  background: #fff;
  width: 48px;
  margin: 0 auto;
  height: 20px;
  color: #929292;
}

.social-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.social-login a {
  display: flex;
  // flex-wrap: wrap;
  background: #f7f7f7;
  border: 0.5px solid #929292;
  border-radius: 9px;
  text-decoration: none;
  width: 60px;
  height: 55px;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.social-login a p {
  width: 0;
  opacity: 0;
  margin: 0;
  white-space: nowrap;
  font-size: 0;
  text-indent: 7px;
}

.social-login a img {
  width: 26px;
  height: 26px;
}

.login-right p a {
  color: #f02828;
  text-decoration: none;
  font-weight: 400;
}

.social-login a:hover {
  transition: 0.2s;
  width: 200px;
  background: #fff;
}

.social-login a:hover p {
  width: auto;
  opacity: 1;
  font-size: 16px;
}

/*-------- Otp ----------*/

.otp-number {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 35px 0;
}

.otp-number input {
  width: 22%;
  margin: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  outline: none;
  color: #000000;
  font-size: 39px;
  padding: 0px 15px 10px !important;
  border-radius: 0;
  text-align: center;
}

.resent b {
  font-weight: normal;
  color: #797979;
}

.resent a {
  color: #000 !important;
}

.resent a:hover {
  color: #f02828 !important;
}

/*----------- popup model login ----------*/

::ng-deep .login-model.modal-dialog {
  max-width: 100% !important;
}

::ng-deep .popup-image {
  width: 460px;
  height: 600px;
}
::ng-deep .popup-image img {
  object-fit: cover;
}

::ng-deep .login-model.modal-dialog .modal-body.login-body {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

::ng-deep .popup-form {
  width: 48%;
  padding: 15px 40px 0px 0px;
}

::ng-deep .login-model.modal-dialog .pop_cls_btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}

.sign_up_model {
  height: auto;
}

.sign_up_model .login-left img {
  height: 486px;
  object-fit: cover;
  display: block;
  border-radius: 8px 0px 0px 8px;
}

.sign_up_model .login-left {
  width: 60%;
  height: 100%;
  border-radius: 46px;
}

.sign_up_model .login-right {
  width: 40%;
  padding: 50px 20px;
}

.sign_up_model .sign_up_form {
  width: auto;
}

.sign_up_model .pop_cls_btn {
  position: absolute;
  right: 13px;
  top: 12px;
  color: #666666cc;
  cursor: pointer;
}

.sign_up_model .social-login a {
  height: 48px;
}

.invalid-feedback {
  display: block;
}

span.signup-part {
  width: 100%;
  font-size: 16px;
  margin: 18px 0 15px 0;
  text-align: center;
}

span.forgot-part {
  width: 35%;
  font-size: 16px;
  text-align: right;
}

span.signup-part a {
  color: #f02828 !important;
  cursor: pointer !important;
}

span.forgot-part a {
  cursor: pointer !important;
  font-size: 13px;
  font-weight: 500;
  color: #4a4a4a;
}
::ng-deep .login-model.modal-dialog .form-group {
  width: 100%;
  min-height: 60px;
}
span.login-part {
  width: 100%;
  text-align: right;
  margin-top: 45px;
}

.login-value .form-control {
  width: 70px;
  height: 51px;
  border-bottom: 3px solid #cdcfd1 !important;
  border: 0;
  border-radius: 0;
  font-size: 48px;
  font-weight: 700;
  outline: none;
  box-shadow: unset;
  text-align: center;
  padding: 0px;
}

button.btn.verify-bnt {
  width: 100%;
  background: #ff0000;
  border: 1px solid #ff0000;
  color: #fff;
  padding: 10px;
}

button.change-password {
  width: 50%;
  background: #ff0000;
  border: 1px solid #ff0000;
  color: #fff;
  padding: 10px;
}

button.cancel-pass {
  border-radius: 5px !important;
  border: 1px solid #f02828;
  background: transparent;
  margin-top: 27px;
}

.codedisap-p strong {
  width: 25px;
  display: inline-block;
}

.codedisap-p a {
  text-decoration: none;
  color: #b3b3b3;
}

// .codedisap-p:hover p {
//     cursor: pointer;
//     color: #939393 !important;
// }
.code-p strong {
  width: 25px;
  display: inline-block;
}

.code-p a {
  text-decoration: none;
  color: #f02828;
  cursor: pointer;
}

.code-p:hover p {
  cursor: pointer;
  color: #f02828 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.change-pass {
  position: relative;
  width: 100%;
  margin-bottom: 16px !important;
}

.change-pass span {
  position: absolute;
  right: 13px;
  top: 33px;
}
.login-part button.link-border {
  width: 100%;
  border-radius: 32px !important;
  color: #fff;
  background: #f02828;
}

.pass-part {
  width: 50%;
  position: relative;
}

.pass-part input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  top: 15%;
  left: 10px;
  z-index: 1;
}

.pass-part label.checkmark {
  position: absolute;
  top: 20%;
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.pass-part input:checked ~ label.checkmark {
  background-color: #f02828;
  border-color: transparent;
}

.pass-part label.checkmark:after {
  content: "";
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  display: none;
}

.pass-part input:checked ~ label.checkmark:after {
  display: block;
}

.pass-part span {
  padding-left: 40px;
  width: 159px;
  display: inline-block;
  padding-top: 3px;
  font-size: 13px;
  font-weight: 500;
  color: #4a4a4a;
  padding-top: 0px;
}

.sign-other {
  color: #929292;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 330px;
  gap: 10px;
  padding: 10px;
  border: 1px solid #92929236;
  border-radius: 15px;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}

.sign-alter {
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #9292927d;
  margin-top: 15px;
  position: relative;
  padding-bottom: 15px;
}

.face-sign {
  width: 50px !important;
  height: 50px;
  background: #f6f6f6;
}
.or-text {
  position: absolute;
  top: -15px;
  width: 53px;
  left: 50%;
  transform: translateX(-60%);
  background: #fff;
  text-align: center;
  color: #929292;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
h6.popup-head {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  padding-top: 0px;
  color: #252525;
}
.p-head,
.p-popup {
  width: 100%;
  font-size: 16px;
  color: #252525;
  font-weight: normal;
}
.p-popup {
  font-size: 14px;
}
::ng-deep .login-model.modal-dialog .modal-content {
  width: 950px;
  margin: 0 auto;
}
.login_password {
  position: relative;
  img {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  span.signup-part {
    width: 100%;
    font-size: 16px;
  }

  span.forgot-part {
    width: 50%;
    text-align: right;
  }
}
@media only screen and (max-width: 767px) {
  .popup-image {
    display: none;
  }
  .popup-form {
    width: 100%;
    padding: 15px;
  }
  .pass-part {
    width: 40%;
  }
  span.login-part {
    margin-top: 15px;
  }
  .sign-alter {
    justify-content: center !important;
    gap: 20px;
  }
  ::ng-deep .login-model.modal-dialog {
    max-width: 95% !important;
    margin: 0 auto;
  }
  ::ng-deep .login-model.modal-dialog .modal-content {
    width: 75%;
  }

  ::ng-deep .forgotpas-model.modal-dialog {
    max-width: 100% !important;
    min-width: 100% !important;
    margin: 0 auto;
  }
  ::ng-deep .verifyotp-model.modal-dialog {
    max-width: 100% !important;
    min-width: 100% !important;
    margin: 0 auto;
  }
  ::ng-deep .changepass-model.modal-dialog {
    max-width: 100% !important;
    min-width: 100% !important;
    margin: 0 auto;
  }
  button.change-password {
    width: 58%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 567px) {
  .pass-part {
    width: 100%;
  }

  span.forgot-part {
    width: 100%;
    text-align: left;
  }
  .sign-other {
    width: 210px;
  }
  ::ng-deep .login-model.modal-dialog .modal-content {
    width: 95%;
  }
  ::ng-deep .verifyotp-model.modal-dialog .login-value .form-control {
    width: 51px;
    height: 51px;
    padding: 0;
    max-height: 51px;
    font-size: 30px;
    min-height: 51px;
  }
  button.change-password,
  button.cancel-pass {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sign-alter {
    justify-content: center !important;
    gap: 20px;
  }
  .sign-other {
    width: 250px;
  }
  span.login-part {
    margin-top: 30px;
  }
  ::ng-deep .login-model.modal-dialog .modal-content {
    width: 800px;
  }
  .popup-image {
    width: 390px;
    height: 600px;
  }
  .popup-form {
    width: 46%;
  }
}
