<div class="forgot_password mt-4">
    <div class="container">
        <!-- <h3>Welcome back, Guest</h3> -->
        <form  class="mt-5" #forgetForm="ngForm" (ngSubmit)="onForgotSubmit(forgetForm, otpModel)">
            <h4><b>Lost your password? Please enter your username or email address. You <br>
                 will receive a link to create a new password via email.</b></h4>
            <div>
                <label>Email</label><br>
                <input type="email" id="email" name="email" ngModel #email="ngModel"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control"
                placeholder="Enter your e-mail" required maxlength="40">
                <div *ngIf="submitted && email.invalid">
                    <div *ngIf="forgetForm.controls['email'].errors?.['required']" class="invalid-feedback d-block">
                        Email is required
                    </div>
                    <div *ngIf="forgetForm.controls['email'].errors?.['maxlength']" class="invalid-feedback d-block">
                        Maximum limit 40 characters
                    </div>
                    <!-- <div *ngIf="forgetForm.controls['email'].errors?.['minlength']" class="invalid-feedback d-block">
                        Minimum limit 7 characters
                    </div> -->
                    <div *ngIf="forgetForm.controls['email'].errors?.['pattern']" class="invalid-feedback d-block">
                        Invalid email
                    </div>
                </div>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</div>




<ng-template #otpModel>
    <div class="modal-header">
        <h4 class="m-0">Verify Account</h4>
        <div (click)="destroyOtpModel()" title="close the popup" class="pop_cls_btn">
            &#10006;
        </div>
    </div>
    <div class="modal-body login-body">
        <div class="container-fluid p-0">
            <form (ngSubmit)="onSubmit(otpform, changePasswordPop)" #otpform="ngForm">
                <p>Enter 4 digit code sent to your email</p>
                <div class="row d-flex">
                    <div
                        class="form-group d-flex flex-wrap align-items-center justify-content-between gap-2 login-value mb-5">
                        <input type="number" name="num1" autocomplete="off" id="num1" [(ngModel)]="num1"
                            [ngModelOptions]=" 
                        {standalone: true}" class="form-control" maxlength="1" (keydown)="digitKeyOnly($event)" ngModel
                            #digit1="ngModel" (keyup)="onDigitInput(1,$event)">
                        <input type="number" name="num2" autocomplete="off" id="num2" [(ngModel)]="num2"
                            [ngModelOptions]=" 
                        {standalone: true}" class="form-control" maxlength="1" (keydown)="digitKeyOnly($event)" ngModel
                            #digit2="ngModel" (keyup)="onDigitInput(2,$event)">
                        <input type="number" name="num3" autocomplete="off" id="num3" [(ngModel)]="num3"
                            [ngModelOptions]=" 
                        {standalone: true}" class="form-control" maxlength="1" (keydown)="digitKeyOnly($event)" ngModel
                            #digit3="ngModel" (keyup)="onDigitInput(3,$event)">
                        <input type="number" name="num4" autocomplete="off" id="num4" [(ngModel)]="num4"
                            [ngModelOptions]=" 
                        {standalone: true}" class="form-control" maxlength="1" (keydown)="digitKeyOnly($event)" ngModel
                            #digit4="ngModel" (keyup)="onDigitInput(4,$event)">
                    </div>
                </div>
                <button type="submit" class="btn verify-bnt">Verify</button>
            </form>
        </div>
        <p *ngIf="remainingTime > 0" class="pass-p codedisap-p  text-center mt-3"><a>Resend Code in</a> <strong>{{
                remainingTime >
                0? remainingTime : 00 }}</strong> seconds &nbsp;</p>
        <p *ngIf="remainingTime == 0" class="pass-p code-p text-center mt-3"><a (click)="resenOtp()">Resend Code in</a>
            <strong>{{ remainingTime >
                0? remainingTime : 00 }}</strong> seconds &nbsp;
        </p>
    </div>
</ng-template>



<ng-template #changePasswordPop>
    <div class="modal-header">
        <h4 class="m-0">Change Password</h4>
        <div (click)="destroyPassModel()" title="close the popup" class="pop_cls_btn">
            &#10006;
        </div>
    </div>
    <div class="modal-body login-body">
        <div class="container-fluid">
            <form #changeForm="ngForm" (ngSubmit)="onChangeFormSubmit(changeForm)">
                <div class="form-group change-pass mb-3">
                    <label for="newpassword">New Password</label>
                    <input required name="newpassword"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()-_+=])(?!.*\s).{8,}$"
                        type="{{passtypenp}}" #newpassword="ngModel" minlength="6" maxlength="100" ngModel
                        class="form-control" placeholder="Enter Password" id="newpassword" required>
                    <span><i class="{{nppassicon}} password-icon" (click)="hideShowPassword('np')"></i></span>
                    <div *ngIf="changeForm.submitted && !newpassword.valid" class="invalid-feedback">
                        <div *ngIf="newpassword.errors && newpassword.errors['pattern']">
                            Confirm Password Must
                            Contain Atleast One uppercase,One lower case,One Numeric,One Special Character.
                        </div>
                        <div *ngIf="newpassword.errors && newpassword.errors['maxlength']">Password must be maximum of
                            100 characters.</div>
                        <div *ngIf="newpassword.errors && newpassword.errors['required']">Password is required</div>
                    </div>
                </div>
                <div class="form-group change-pass mb-3">
                    <label for="confirmpassword">Confirm Password</label>
                    <input required name="confirmpassword"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()-_+=])(?!.*\s).{8,}$"
                        type="{{passtypecnp}}" #confirmpassword="ngModel" minlength="6" maxlength="100" ngModel
                        class="form-control" placeholder="Enter Confirm Password" id="confirmpassword" required>
                    <span><i class="{{cnppassicon}} password-icon" (click)="hideShowPassword('cnp')"></i></span>
                    <div *ngIf="confirmpassword.touched && !confirmpassword.valid" class="invalid-feedback">
                        <div *ngIf="newpassword.value != confirmpassword.value">Password and Confirm Password is not
                            matching.</div>
                    </div>
                    <div *ngIf="changeForm.submitted && !confirmpassword.valid" class="invalid-feedback">
                        <div *ngIf="confirmpassword.errors && confirmpassword.errors['pattern']">
                            Confirm Password Must
                            Contain Atleast One uppercase,One lower case,One Numeric,One Special Character.
                        </div>
                        <div *ngIf="confirmpassword.errors && confirmpassword.errors['maxlength']">Confirm Password must
                            be maximum of 100 characters.</div>
                        <div *ngIf="confirmpassword.errors && confirmpassword.errors['required']">Confirm Password is
                            required</div>
                    </div>
                </div>
                <div class="sumbit-btn d-flex flex-wrap gap-2 justify-content-between align-items-center mt-4">
                    <button type="button" class="cancel-pass rounded text-center  py-2 px-4 m-0"
                        (click)="destroyPassModel()">Cancel</button>
                    <button type="submit"
                        class="link-border link-color change-password rounded text-center  py-2 px-4 m-0">Save
                        Changes</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>