<div class="shipping_policy_page pt_110">
     <div class="container">
          <h2>Shipping Policy</h2>
          <div class="customer_request">
               <p>Dear customer, please don’t accept the package if the seal is broken.</p>
               <p>Furthermore, capturing a clear unboxing video before opening the package will greatly assist us in
                    promptly addressing any potential damage or loss, ensuring a swift replacement or refund process.
               </p>
               <p>Thank you for your cooperation!</p>
               <div class="fslto">
                    <h3>Free Shipping (Limited Time Offer)</h3>
                    <div class="fssf">
                         <div class="free_shipping">
                              <!-- <i class="fas fa-boxes"></i> -->
                              <svg viewBox="0 0 576 512">
                                   <path
                                        d="M560 288h-80v96l-32-21.3-32 21.3v-96h-80c-8.8 0-16 7.2-16 16v192c0 8.8 7.2 16 16 16h224c8.8 0 16-7.2 16-16V304c0-8.8-7.2-16-16-16zm-384-64h224c8.8 0 16-7.2 16-16V16c0-8.8-7.2-16-16-16h-80v96l-32-21.3L256 96V0h-80c-8.8 0-16 7.2-16 16v192c0 8.8 7.2 16 16 16zm64 64h-80v96l-32-21.3L96 384v-96H16c-8.8 0-16 7.2-16 16v192c0 8.8 7.2 16 16 16h224c8.8 0 16-7.2 16-16V304c0-8.8-7.2-16-16-16z" />
                              </svg>
                              <div>
                                   <h4>Free Shipping</h4>
                                   <p>On Orders above ₹399 (up to 5kg)</p>
                              </div>
                         </div>
                         <div class="shipping_fare">
                              <i class="fa-solid fa-indian-rupee-sign"></i>
                              <div>
                                   <h4>₹75 Shipping Fare</h4>
                                   <p>For Orders below ₹399 (above 5kg)</p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>