<div class="user-add_user margin_top add_edit_page">
    <div class="container">
        <div class="animated fadeIn" *ngIf="!viewpage">
            <div class="row">
                <div class="col-sm-12">
                    

                    <div class="full_page_title">
                        <strong>{{pageTitle | titlecase}}</strong>
                    </div>

                    <form #tagAddEditForm="ngForm" (ngSubmit)="onFormSubmit(tagAddEditForm)" autocomplete="off">
                        <!--Edit and add page-->
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="first_name">
                                            <label for="first_name"> Combo Offer Name <span class="mandatory">*</span>
                                            </label>
                                            <input type="text" id="first_name" ngModel name="first_name"
                                                #first_name="ngModel" required placeholder="Enter Tag Name"
                                                class="form-control" minlength="3" maxlength="30"
                                                pattern="^[a-zA-Z]([\w ,&]*[a-zA-Z])?$"
                                                [ngClass]="{ 'is-valid': !first_name.errors && first_name.valid}"
                                                (change)="tagNameCheck($event)" [(ngModel)]="tagNameCheckerVal">
                                            <div *ngIf="tagAddEditForm.submitted && !first_name.valid">
                                                <div class="invalid-feedback" *ngIf="first_name.errors.required">Combo Offer
                                                    Name
                                                    is
                                                    required.
                                                </div>
                                                <div class="invalid-feedback" *ngIf="first_name.errors?.minlength">Combo Offer
                                                    Name
                                                    must be at least 3 characters long.
                                                </div>
                                                <div class="invalid-feedback" *ngIf="first_name.errors?.maxlength">Combo Offer
                                                    Name
                                                    can be max 30 characters long.
                                                </div>
                                                <div class="invalid-feedback" *ngIf="first_name.errors?.pattern">Please
                                                    enter
                                                    valid Tag Name.
                                                </div>
                                                <!-- <div   class="invalid-feedback" *ngIf="form.get('first_name').errors?.duplicateTagName ">
                                                    Tag name already exists.
                                                  </div> -->
                                            </div>
                                            <div class="invalid-feedback" *ngIf="first_name.errors?.duplicateTagName ">
                                                Combo Offer name already exists.
                                            </div>

                                        </div>
                                    </div>


                                    <!-- <div class="col-md-6 mt-4">
                                        
                                    </div> -->
                                    <!-- <div class="col-md-6 mt-4">
                                       
                                    </div> -->
                                    <div class="col-md-6 ">
                                        <div class="status">
                                            <label for="status">Status <span class="mandatory">*</span></label>
                                            

                                            <ng-select class="form-control custom-ng-select" [items]="statusOptions"
                                                bindLabel="label" bindValue="value"
                                                [(ngModel)]="tagAddEditForm.value.status" name="status" id="status"
                                                #status="ngModel" [style.border-radius.px]="dropdownBorderRadius1"
                                            
                                                required>
                                            </ng-select>
                                            <div *ngIf="tagAddEditForm.submitted && !status.valid">
                                                <div class="invalid-feedback" *ngIf="status.errors.required">Status is
                                                    required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Category Selector -->
                                    <div class="col-md-6 mt-4">
                                        <div class="select_gender">
                                            <label for="gender">Select Category <span class="mandatory">*</span></label>
                                           
                                           
                                            <ng-select class="form-control custom-ng-select" [items]="categoryOptions"
                                                bindLabel="rcatname" bindValue="_id"
                                                [(ngModel)]="tagAddEditForm.value.category" name="category"
                                                id="category" #category="ngModel"
                                  
                                                [style.border-radius.px]="dropdownBorderRadius1" required bindvalue="id"
                                                (change)="getProducts($event)" multiple="true">

                                            </ng-select>

                                            <div *ngIf="tagAddEditForm.submitted && !category.valid">
                                                <div class="invalid-feedback" *ngIf="category.errors.required">Category
                                                    is
                                                    required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Product Selector -->
                                    
                                    <div class="col-md-6 mt-4">
                                        <div class="select_product">
                                            <label for="product">Select Product <span class="mandatory">*</span></label>
                                            <ng-select class="form-control custom-ng-select" [items]="productOptions"
                                                bindLabel="name" bindValue="_id"
                                                [(ngModel)]="tagAddEditForm.value.product" name="product" id="product"
                                                #product="ngModel"
                                            
                                                [style.border-radius.px]="dropdownBorderRadius1" required
                                                multiple="true">
                                            </ng-select>

                                            <div *ngIf="tagAddEditForm.submitted && !product.valid">
                                                <div class="invalid-feedback" *ngIf="product.errors.required">Product is
                                                    required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group grouping-strains lab-midle row">
                                            <div class="profile_images">
                                                <label for="Profile">Combo Banner</label>
                                                <div class="profile-uploaders ">
                                                    <div class="inline_cat_image">
                                                        <div *ngIf="usercroppedImage!='assets/image/user.jpg' " class="r-image">
                                                            <!-- <i class="fa fa-times red-icon" aria-hidden="true"
                                                            (click)="removeImage()"></i> -->
                                                        </div>
                                                        <!-- <div class="profile-circle">
                                                        <img class="profile-pic" [src]="usercroppedImage">
                                                    </div> -->
                                                        <div class="pencil input_pencil" (click)="fileoploadclick()">
                                                            <input class="file-upload" type="file" accept="image/*"
                                                                (change)="fileChangeEvent($event);" />
                                                        </div>
                                                        <!-- imageCropPopout(imagecrop) -->
                                                        <div class="preview">
                                                            <img
                                                                [src]="croppedImage==''?'assets/image/no_images.png':croppedImage" />
        
                                                        </div>
                                                        <div class="img_center_call">
                                                            <img src="assets/image/no_images.png" alt="no_images">
                                                        </div>
                                                    </div>
                                                    <p class="image_size_filter">Set the Tag Banner image. Only <br>
                                                        *.png, *.jpg, *.webp and *.jpeg image files are <br>
                                                        accepted.The required dimensions are 1249x330 pixels.</p>
        
                                                </div>
                                            </div>


                                            
                                            <ng-template #imagecrop>
                                                <div class="image_crop"
                                                    *ngIf="userimageChangedEvent && userimageChangedEvent!=''">
                                                    <image-cropper [imageChangedEvent]="userimageChangedEvent"
                                                        class="cropper-image" [maintainAspectRatio]="true" [aspectRatio]="1/1"
                                                        roundCropper=true format="png" output="base64"
                                                        (imageCropped)="imageCropped($event)">
                                                    </image-cropper>
                                                    <button (click)="closeProductCrop()">Save Changes</button>
                                                </div>
        
                                            </ng-template>
        
        
        
        
        
                                        </div>
                                    </div>

                                    <!-- <div class="col-md-6 mt-4">
                                        <div class="select_gender">
                                            <div class="select_color">
                                                <label for="color">Select Color <span class="mandatory">*</span></label>
                                                <ng-select class="form-control custom-ng-select" [items]="colorOptions"
                                                    bindLabel="name" bindValue="value"
                                                    [(ngModel)]="tagAddEditForm.value.color" name="color" id="color"
                                                    #color="ngModel" [ngClass]="{
                                                  'is-invalid': tagAddEditForm.submitted && color.errors,
                                                  'is-valid': !color.errors && color.valid
                                                }" [style.border-radius.px]="dropdownBorderRadius1"
                                                    required></ng-select>

                                                <div *ngIf="tagAddEditForm.submitted && !color.valid">
                                                    <div class="invalid-feedback" *ngIf="color.errors.required">
                                                        Color is required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->


                                </div>
                            </div>

                            <div class="col-lg-4">
                                
                            </div>


                          

                            <div class="card_footer_btn">

                                <button type="button" routerLink="/app/tags/list" class="btn btn-sm ">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-sm " [disabled]="submitebtn">
                                    Submit
                                </button>
                            </div>

                        </div>


                        <!--profile image div-->
                        <div class="col-md-4">

                           
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<!--View page-->

<div class="customer_list-view_user">
    <div class="container">
        <div class="animated fadeIn" *ngIf="viewpage">
            <div class="row">
                <div class="col-sm-12">
                

                    <div class="full_page_title">
                        <strong>{{pageTitle | titlecase}}</strong>
                    </div>
                    <form #tagAddEditForm="ngForm" (ngSubmit)="onFormSubmit(tagAddEditForm)" autocomplete="off">
                        <!--Edit and add page-->
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="first_name">
                                            <label for="first_name">Combo Offer Name <span class="mandatory">*</span></label>
                                    
                                            <ng-select [items]="dealNameOptions"
                                                       bindLabel="label"
                                                       bindValue="value"
                                                       [(ngModel)]="selectedDealName"
                                                       name="first_name"
                                                       #first_name="ngModel"
                                                       required
                                                       placeholder="Select Deal Name"
                                                       class="form-control custom-ng-select"
                                                       [ngClass]="{ 'is-valid': !first_name.errors && first_name.valid}">
                                            </ng-select>
                                    
                                            <div *ngIf="tagAddEditForm.submitted && !first_name.valid">
                                                <div class="invalid-feedback" *ngIf="first_name.errors?.required">Offer Name is required.</div>
                                            </div>
                                    
                                            <div class="invalid-feedback" *ngIf="first_name.errors?.duplicateTagName">
                                                Offer name already exists.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-4">
                                        <div class="form-group grouping-strains lab-midle row">
                                            <div class="profile_images">
                                                <label for="Profile">Combo Image</label>
                                                <div class="profile-uploaders ">
                                                    <div class="inline_cat_image">
                                                        <div *ngIf="usercroppedImage!='assets/image/user.jpg' " class="r-image">
                                                            <!-- <i class="fa fa-times red-icon" aria-hidden="true"
                                                            (click)="removeImage()"></i> -->
                                                        </div>
                                                        <!-- <div class="profile-circle">
                                                        <img class="profile-pic" [src]="usercroppedImage">
                                                    </div> -->
                                                        <div class="pencil input_pencil" (click)="fileoploadclick()">
                                                            <input class="file-upload" type="file" accept="image/*"
                                                                (change)="fileChangeEvent($event);" />
                                                        </div>
                                                        <!-- imageCropPopout(imagecrop) -->
                                                        <div class="preview">
                                                            <img
                                                                [src]="croppedImage==''?'assets/image/no_images.png':croppedImage" />
        
                                                        </div>
                                                        <div class="img_center_call">
                                                            <img src="assets/image/no_images.png" alt="no_images">
                                                        </div>
                                                    </div>
                                                    <p class="image_size_filter">Set the Offer Banner image. Only <br>
                                                        *.png, *.jpg and *.jpeg image files are <br>
                                                        accepted.The required dimensions are 1249x330 pixels.</p>
        
                                                </div>
                                            </div>
                                            <ng-template #imagecrop>
                                                <div class="image_crop"
                                                    *ngIf="userimageChangedEvent && userimageChangedEvent!=''">
                                                    <image-cropper [imageChangedEvent]="userimageChangedEvent"
                                                        class="cropper-image" [maintainAspectRatio]="true" [aspectRatio]="1/1"
                                                        roundCropper=true format="png" output="base64"
                                                        (imageCropped)="imageCropped($event)">
                                                    </image-cropper>
                                                    <button (click)="closeProductCrop()">Save Changes</button>
                                                </div>
        
                                            </ng-template>
        
        
        
        
        
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6 mt-4">
                                        <div class="status">
                                            <label for="status">Status <span class="mandatory">*</span></label>
                                            <ng-select class="form-control custom-ng-select" [items]="statusOptions"
                                                bindLabel="label" bindValue="value"
                                                [(ngModel)]="tagAddEditForm.value.status " name="status" id="status"
                                                #status="ngModel" [style.border-radius.px]="dropdownBorderRadius1"
                                        
                                                required>
                                            </ng-select>
                                            <div *ngIf="tagAddEditForm.submitted && !status.valid">
                                                <div class="invalid-feedback" *ngIf="status.errors.required">Status is
                                                    required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Category Selector -->

                                    <div class="col-md-6 mt-4">
                                        <div class="select_gender">
                                            <label for="gender">Select Category <span class="mandatory">*</span></label>

                                            <ng-select class="form-control custom-ng-select" [items]="categoryOptions"
                                                bindLabel="rcatname" bindValue="_id"
                                                [(ngModel)]="tagAddEditForm.value.category" name="category"
                                                id="category" #category="ngModel"
                             
                                                [style.border-radius.px]="dropdownBorderRadius1" required bindvalue="id"
                                                (change)="getProducts($event)" multiple="true">

                                            </ng-select>

                                            <div *ngIf="tagAddEditForm.submitted && !category.valid">
                                                <div class="invalid-feedback" *ngIf="category.errors.required">Category
                                                    is
                                                    required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Product Selector -->

                                    <div class="col-md-6 mt-4">
                                        <div class="select_product">
                                            <label for="product">Select Product <span class="mandatory">*</span></label>
                                            <ng-select class="form-control custom-ng-select" [items]="productOptions"
                                                bindLabel="name" bindValue="_id"
                                                [(ngModel)]="tagAddEditForm.value.product" name="product" id="product"
                                                #product="ngModel"
                                       
                                                [style.border-radius.px]="dropdownBorderRadius1" required multiple="true"
                                                >
                                            </ng-select>

                                            <div *ngIf="tagAddEditForm.submitted && !product.valid">
                                                <div class="invalid-feedback" *ngIf="product.errors.required">Product is
                                                    required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-4">
                                        <div class="form-group grouping-strains lab-midle row">
                                            <div class="profile_images">
                                                <label for="Profile">Combo Banner</label>
                                                <div class="profile-uploaders ">
                                                    <div class="inline_cat_image">
                                                        <div *ngIf="usercroppedImage!='assets/image/user.jpg' " class="r-image">
                                                            <!-- <i class="fa fa-times red-icon" aria-hidden="true"
                                                            (click)="removeImage()"></i> -->
                                                        </div>
                                                        <!-- <div class="profile-circle">
                                                        <img class="profile-pic" [src]="usercroppedImage">
                                                    </div> -->
                                                        <div class="pencil input_pencil" (click)="fileoploadclick()">
                                                            <input class="file-upload" type="file" accept="image/*"
                                                                (change)="fileChangeEvent($event);" />
                                                        </div>
                                                        <!-- imageCropPopout(imagecrop) -->
                                                        <div class="preview">
                                                            <img
                                                                [src]="croppedImage==''?'assets/image/no_images.png':croppedImage" />
        
                                                        </div>
                                                        <div class="img_center_call">
                                                            <img src="assets/image/no_images.png" alt="no_images">
                                                        </div>
                                                    </div>
                                                    <p class="image_size_filter">Set the Tag Banner image. Only <br>
                                                        *.png, *.jpg, *.webp and *.jpeg image files are <br>
                                                        accepted.The required dimensions are 1249x330 pixels.</p>
        
                                                </div>
                                            </div>


                                            
                                            <ng-template #imagecrop>
                                                <div class="image_crop"
                                                    *ngIf="userimageChangedEvent && userimageChangedEvent!=''">
                                                    <image-cropper [imageChangedEvent]="userimageChangedEvent"
                                                        class="cropper-image" [maintainAspectRatio]="true" [aspectRatio]="1/1"
                                                        roundCropper=true format="png" output="base64"
                                                        (imageCropped)="imageCropped($event)">
                                                    </image-cropper>
                                                    <button (click)="closeProductCrop()">Save Changes</button>
                                                </div>
        
                                            </ng-template>
        
        
        
        
        
                                        </div>
                                    </div>

                                    <!-- <div class="col-md-6 mt-4">
                                        <div class="select_gender">
                                            <div class="select_color">
                                                <label for="color">Select Color <span class="mandatory">*</span></label>
                                                <ng-select class="form-control custom-ng-select" [items]="colorOptions"
                                                    bindLabel="name" bindValue="value"
                                                    [(ngModel)]="tagAddEditForm.value.colors" name="color" id="color"
                                                    #color="ngModel" [ngClass]="{
                                                  'is-invalid': tagAddEditForm.submitted && color.errors,
                                                  'is-valid': !color.errors && color.valid
                                                }" [style.border-radius.px]="dropdownBorderRadius1"
                                                    required></ng-select>

                                                <div *ngIf="tagAddEditForm.submitted && !color.valid">
                                                    <div class="invalid-feedback" *ngIf="color.errors.required">
                                                        Color is required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->


                                </div>
                            </div>

                            <div class="col-lg-4">
                               
                            </div>



                            <div class="card_footer_btn">

                                <button type="button" routerLink="/app/tags/list" class="btn btn-sm ">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-sm " [disabled]="submitebtn">
                                    Submit
                                </button>
                            </div>

                        </div>


                        <div class="card-body row">
                            <div class="form-group  grouping-strains row">

                            </div>
                        </div>

                        <!--profile image div-->
                        <div class="col-md-4">

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>