::ng-deep .layout_ctrl-web_banner_list {
  position: relative;
  .search-input-tag {
    right: 150px;
    position: absolute;
  }

  table {
    thead {
      tr {
        th {
          border: none;
        }
      }
    }
    tbody {
      tr {
        td {
          vertical-align: middle;
        }
        td:nth-child(2) img {
          width: 50px;
          height: 50px;
          background-color: #ccc;
          padding: 2px;
          border-radius: 6px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
        }
        td:nth-child(1),
        td:nth-child(3) div,
        td:nth-child(4) div {
          font-weight: 700;
          font-size: 14px;
        }
        td:nth-child(5) span {
          font-size: 13px;
        }
      }
    }
  }
}
