table(style='background-color: #ebebeb;', border='0', cellspacing='0', cellpadding='0', width='100%', bgcolor='#ebebeb;')
  tbody
    tr
      td  
    tr
      td(width='100%')
        .webkit(style='max-width: 600px; margin: 0 auto;')
          table.outer(style='border-spacing: 0; margin: 0 auto; width: 100%; max-width: 600px;', border='0', cellspacing='0', cellpadding='0', align='center')
            tbody
              tr
                td(style='padding: 0;')
                  table(border='0', cellspacing='0', cellpadding='0', width='100%')
                    tbody
                      tr
                        td
                          table(style='width: 100%;', border='0', cellspacing='0', cellpadding='0')
                            tbody
                              tr
                                td.two-column(style='text-align: left; font-size: 0; padding: 0;')
                                  .column(style='width: 100%; display: inline-block; vertical-align: top; background-color: #e15500; padding: 13px 0px;')
                                    table.contents(style='border-spacing: 0; width: 100%;', border='0')
                                      tbody
                                        tr
                                          td(style='padding: 0px;', width='100%', align='left')
                                            a(href=siteurl, target='_blank')
                                              img(style='border-width: 0; height: auto; display: block; margin: 0px auto;', src=siteurl+logo, alt='', width='120', align='center')
                              tr
                                td(align='center')
                                  table(style='margin: 0 auto; padding: 0px 16px;', border='0', cellspacing='0', cellpadding='0', width='100%', align='center', bgcolor='#FFFFFF')
                                    tbody
                                      tr
                                        td.one-column(bgcolor='#FFFFFF')
                                          table(border='0', cellspacing='0', cellpadding='0', width='100%', bgcolor='#FFFFFF')
                                            tbody
                                              tr
                                                td.two-column(style='text-align: left; font-size: 0; padding: 0;')
                                                  .column(style='width: 100%; max-width: 100%; display: inline-block; vertical-align: top;')
                                                    table(style='border-spacing: 0;', border='0', cellspacing='0', cellpadding='0', width='100%')
                                                      tbody
                                                        tr
                                                          td.inner(style='padding: 0px;')
                                                            table.contents(style='border-spacing: 0; width: 100%;', border='0', cellspacing='0', cellpadding='0')
                                                              tbody
                                                                tr
                                                                  td(align='left', valign='top')  
                  table(border='0', cellspacing='0', cellpadding='0', width='100%')
                    tbody
                      tr
                        td
                          table(style='width: 100%;', border='0', cellspacing='0', cellpadding='0')
                            tbody
                              tr
                                td(align='center')
                                  table(style='margin: 0 auto;', border='0', cellspacing='0', cellpadding='0', width='100%', align='center')
                                    tbody
                                      tr(bgcolor='#fff')
                                        td  
                                      tr
                                        td.one-column(bgcolor='#FFFFFF')
                                          table(border='0', cellspacing='0', cellpadding='0', width='100%', bgcolor='#FFFFFF')
                                            tbody
                                              tr
                                                td.two-column(style='padding: 0px 16px; text-align: left; font-size: 0;')
                                                  .column(style='width: 100%; max-width: 600px; display: inline-block; vertical-align: top;')
                                                    table.contents(style='border-spacing: 0; width: 100%;', border='0')
                                                      tbody
                                                        tr
                                                          td(style='padding: 0px; font-size: 14px; color: #000; font-family: open sans,arial,helvetica,sans-serif;', align='left') Dear !{userDetails.username}
                                                        tr
                                                          td(height='20')  
                                                        tr
                                                          td(style='padding: 0px; font-size: 13px; color: #e15500; font-weight: bold; font-family: open sans,arial,helvetica,sans-serif;', align='left') Your order was successfully delivered!
                                                        tr
                                                          td(height='20')  
                                                        tr
                                                          td(style='padding: 0px; font-size: 13px; color: #000; font-family: open sans,arial,helvetica,sans-serif;', align='left') Please see the order summary with reference number #!{orderDetails.order_id}.
                                                        tr
                                                          td(height='20')  
                                                        tr
                                                          td(style='padding: 0px; font-size: 13px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px;', align='left') Happy serving you.
                                                        tr
                                                          td(height='20')  
                                                        tr
                                                          td(style='padding: 0px; font-size: 14px; color: #000; font-family: open sans,arial,helvetica,sans-serif;', align='left') Cheers,
                                                        tr
                                                          td(style='padding: 0px; font-size: 14px; color: #e15500; font-weight: bold; font-family: open sans,arial,helvetica,sans-serif;', align='left') Taztee Order Team
                                                        tr
                                                          td(height='20')  
                                                        tr
                                                          td(style='padding: 0px; font-size: 10px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px;', align='center') This is system generated email. Please do not reply.
                                                        tr
                                                          td(height='10')  
                                                        tr
                                                          td(style='background-color: #e15500; padding: 0px; font-size: 13px; color: #fff; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px;', align='center') DELIVERY CONFIRMATION
                                                        tr
                                                          td(height='5')  
                                                        tr(width='100%')
                                                          td
                                                            table(style='border-spacing: 0; width: 100%;', border='0')
                                                              tbody
                                                                tr
                                                                  td
                                                                    div(style='border: 1px solid #000; width: 270px; float: left;')
                                                                      p(style='color: #000; background-color: #ccc; margin-bottom: 0px; padding-top: 0px; margin-top: 0px; font-family: open sans,arial,helvetica,sans-serif; font-size: 13px; text-transform: uppercase;') BILLING DETAILS
                                                                      table(border='0')
                                                                        tbody
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') COUNTRY
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') PHILIPPINES
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') PROVINCE
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') METRO MANILA
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') CITY
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') MAKATI CITY
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') ADDRESS
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') 123 Washington, Bel Air
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') ZIP CODE:
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') 1234
                                                                    div(style='border: 1px solid #000; margin-left: 5px; width: 280px; float: left; height: 140px; overflow: auto;')
                                                                      p(style='color: #000; background-color: #ccc; margin-bottom: 0px; padding-top: 0px; margin-top: 0px; font-family: open sans,arial,helvetica,sans-serif; font-size: 13px; text-transform: uppercase;') RESTAURANT DETAILS
                                                                      table(border='0')
                                                                        tbody
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') RESTAURANT NAME
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') ARLENE CABANGON
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') COUNTRY
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') PHILIPPINES
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') PROVINCE
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') METRO MANILA
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') CITY
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') MAKATI CITY
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') ADDRESS
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') 123 Washington, Bel Air
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') ZIP CODE
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') 1234
                                                                          tr
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') CONTACT#
                                                                            td(width='20%') :
                                                                            td(style='padding: 0px; font-size: 9px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 15px; text-transform: uppercase;', width='50%', align='left') +63917123456
                                                        tr
                                                          td(height='5px')  
                                                        tr(width='100%')
                                                          td
                                                            div(style='border: 1px solid #000; width: 100%; float: left;')
                                                              p(style='color: #000; background-color: #ccc; margin-bottom: 0px; padding-top: 0px; margin-top: 0px; font-family: open sans,arial,helvetica,sans-serif; font-size: 13px; text-transform: uppercase;') RESTAURANT DETAILS
                                                              table(border='0')
                                                                tbody
                                                                  tr
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; text-transform: uppercase;', width='50%', align='left') REFERENCE NUMBER
                                                                    td(width='20%') :
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; text-transform: uppercase;', width='50%', align='left') TZ-00000123
                                                                  tr
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; text-transform: uppercase;', width='50%', align='left') PAYMENT OPTION
                                                                    td(width='20%') :
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; text-transform: uppercase;', width='50%', align='left') COD
                                                                  tr
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; text-transform: uppercase;', width='50%', align='left') AMOUNT
                                                                    td(width='20%') :
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; text-transform: uppercase;', width='50%', align='left') Php 2,054.58
                                                                  tr
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; text-transform: uppercase;', width='50%', align='left') REMARKS
                                                                    td(width='20%') :
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; text-transform: uppercase;', width='50%', align='left') Php 2,054.58
                                                        tr(width='100%')
                                                          td(height='5px')  
                                                        tr(width='100%')
                                                          td
                                                            div(style='border: 1px solid #000; width: 100%; float: left;')
                                                              p(style='color: #000; background-color: #ccc; margin-bottom: 0px; padding-top: 0px; margin-top: 0px; font-family: open sans,arial,helvetica,sans-serif; font-size: 13px;') PAYMENT DETAILS
                                                              table(border='0', width='100%')
                                                                tbody
                                                                  tr(style='background-color: #e15500;', width='100%')
                                                                    td(style='padding: 0px; font-size: 11px; color: #fff; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 30%; padding-left: 10px; text-transform: uppercase;', align='center') ITEM DESCRIPTION
                                                                    td(style='padding: 0px; font-size: 11px; color: #fff; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 25%; padding-left: 10px; text-transform: uppercase;', align='center') PRICE
                                                                    td(style='padding: 0px; font-size: 11px; color: #fff; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 15%; padding-left: 10px; text-transform: uppercase;', align='center') QTY
                                                                    td(style='padding: 0px; font-size: 11px; color: #fff; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 25%; padding-left: 10px; text-transform: uppercase;', align='center') COST
                                                                  tr(width='100%')
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 30%; padding-left: 10px;', align='center') Noodles
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 25%; padding-left: 10px;', align='center') Php 300.00
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 15%; padding-left: 10px;', align='center') 1
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 25%; padding-left: 10px;', align='center') Php 300.00
                                                                  tr(width='100%')
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 30%; padding-left: 10px;', align='center') Noodles
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 25%; padding-left: 10px;', align='center') Php 300.00
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 15%; padding-left: 10px;', align='center') 1
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 25%; padding-left: 10px;', align='center') Php 300.00
                                                                  tr(width='100%')
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 30%; padding-left: 10px;', align='center') Noodles
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 25%; padding-left: 10px;', align='center') Php 300.00
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 15%; padding-left: 10px;', align='center') 1
                                                                    td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; width: 25%; padding-left: 10px;', align='center') Php 300.00
                                                        tr(width='100%')
                                                          td
                                                            table(border='0', width='100%')
                                                              tbody
                                                                tr
                                                                  td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px;', width='50%', align='right') Item Total
                                                                  td(width='20%', align='right') :
                                                                  td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px;', width='50%', align='right') Php 2,054.58
                                                                tr
                                                                  td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px;', width='50%', align='right') Delivery Charges
                                                                  td(width='20%', align='right') :
                                                                  td(style='padding: 0px; font-size: 11px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px;', width='50%', align='right') Php 2,054.58
                                                        tr(width='100%')
                                                          td
                                                            table(border='0', width='100%;border-spacing: 0;')
                                                              tbody
                                                                tr(style='background-color: #ccc;')
                                                                  td(style='padding: 0px; font-size: 16px; font-weight: bold; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; text-transform: uppercase;', width='50%', align='right') Grand Total
                                                                  td(width='20%', align='right') :
                                                                  td(style='padding: 0px; font-size: 16px; font-weight: bold; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px; text-transform: uppercase;', width='50%', align='right') Php 2,054.58
                                                        tr
                                                          td(height='20px')  
                                                        tr
                                                          td(width='100%')
                                                            table(style='border-spacing: 0; width: 100%;', border='0')
                                                              tbody
                                                                tr
                                                                  td(style='padding: 0px; font-size: 14px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px;', align='center')
                                                                    div(style='width: 80%; margin: 0px auto; background-color: #000;')
                                                                      p(style='padding-top: 10px; padding-bottom: 10px;')
                                                                        a(href='{{social1_link}}')
                                                                          img(src='{{social1}}', alt='', width='26')
                                                                        a(href='{{social2_link}}')
                                                                          img(src='{{social2}}', alt='', width='26')
                                                                        a(href='{{social3_link}}')
                                                                          img(src='{{social3}}', alt='', width='26')
                                                                        a(href='{{social4_link}}')
                                                                          img(src='{{social4}}', alt='', width='26')
                                                                        a(href='{{social5_link}}')
                                                                          img(src='{{social5}}', alt='', width='26')
                                                                        a(href='{{social6_link}}')
                                                                          img(src='{{social6}}', alt='', width='26')
                                                                tr
                                                                  td
                                                                    div(style='width: 100%; float: left; background-color: #e15500; padding: 5px; text-align: center;')
                                                                      p(style='text-align: center; margin-bottom: 0px; color: #fff; font-family: open sans,arial,helvetica,sans-serif; font-weight: bold; text-transform: uppercase; font-size: 11px;') Taztee order delivery system inc.
                                                                      a(style='text-align: center; margin-bottom: 0px; color: #fff; font-family: open sans,arial,helvetica,sans-serif; font-size: 12px;', href='#') www.tazteeorder.com
                                                                    div(style='width: 100%; float: left; background-color: #e15500; padding: 5px;')
                                                                      p(style='text-align: center; margin-bottom: 0px; color: #fff; font-family: open sans,arial,helvetica,sans-serif; font-size: 9px;')
                                                                        | ESJ Building Unit No. 8, Capitoline Hill St. BF Resort, Talon 3 Las Pinas City, Metro Manila, Philippines. 1747
                                                        tr
                                                          td(style='padding: 0px; font-size: 13px; color: #000; font-family: open sans,arial,helvetica,sans-serif; line-height: 26px;', align='center') Copyright © 2018 Taztee Order
                  table(border='0', cellspacing='0', cellpadding='0', width='100%')
                    tbody
                      tr
                        td  
                  table(border='0', cellspacing='0', cellpadding='0', width='100%')
                    tbody
                      tr
                        td
                          table(style='width: 100%;', border='0', cellspacing='0', cellpadding='0')
                            tbody
                              tr
                                td(align='center')
                                  table(border='0', cellspacing='0', cellpadding='0', width='100%', align='center')
                                    tbody
                                      tr(bgcolor='#fff')
                                        td  
                                      tr
                                        td.one-column(style='padding: 0;', bgcolor='#FFFFFF')  
                  table.table-method(border='0', cellspacing='0', cellpadding='0', width='100%')
                    tbody
                      tr
                        td  
    tr
      td  
p  
