<div class="cancellation_policy pt_110">
     <div class="container">
          <div class="policy_inner_sec">
               <h2>Cancellation Policy</h2>
               <h4>ACCOUNT CANCELLATION:</h4>
               <p>Customers can cancel their account at any time without any prior indication. The customer is under no
                    obligation, and therefore cancellation can be conducted at any time through the customer’s account
                    page or by submitting a written request to <a
                         href="mailto:helpdesk@pillais.in">helpdesk@pillais.in</a>. Once your request has been received,
                    we will cancel your account and let you know as early as possible that this has been completed.
                    Please be mindful that, if we disable your account for any reason, you will cease to be a member and
                    will be unable to log into our website. If you want to enable your account, please request this by
                    notifying us at the same email address.</p>
               <h4>ORDER CANCELLATION:</h4>
               <p>If the goods have been dispatched or delivered, but you have changed your mind, please give written
                    notice via email of your wish to return the items to <a href="mailto:helpdesk@pillais.in">
                         helpdesk@pillais.in</a> within 14 working days of
                    receipt.</p>
               <p>You will not be entitled to this cancellation period should the item being considered for return be
                    something that deteriorates quickly, has a limited expiration date or is frozen food. These
                    non-refundable goods are defined under the term “perishable food and drink.”</p>
               <p>For health and hygiene reasons, the following items sealed for protection reasons will be deemed as
                    used if unwrapped: personal grooming products e.g. hair accessories and styling products, shavers,
                    waxing kits, electric toothbrushes etc, will therefore be unable to be returned if not in their
                    original unused condition.</p>
               <p>Cancellation will be accepted only upon the customer’s written consent. We would request you to send
                    the products back to our warehouse as soon as you can after the cancellation. The consumer has a
                    duty of care for the products during the cancellation period.</p>
               <p>You must send the goods back to our below address at your own cost, unless we delivered the item to
                    you in error or the item is damaged or defective. In those cases we will bear the return cost.</p>
               <h4>Pillai’s Foods (IN)</h4>
               <a href="" class="address">
                    No 3/29, Ragava Nagar, <br>
                    2nd Street, Madipakkam, <br>
                    Chennai 600091.
               </a>
               <p>If you find any of the perishable goods are damaged or received under quality, please email us at
                    <a href="mailto:helpdesk@pillais.in">helpdesk@pillais.in</a> with an image of the product attached. If the image that
                    you
                    send proves the product to be damaged or under quality, we will refund you the price of the
                    product.
               </p>
               <h4>GUIDELINES TO CUSTOMERS TO CANCEL THE ORDER:</h4>
               <ul>
                    <li>Customers are entitled to a 14-day cooling off period on all items sold by Pillai’s Foods that
                         are not considered to be perishable or personal hygiene products as listed above. This will
                         apply within the 14 working days, (Saturday, Sunday and public holidays are not considered as
                         working days), after they receive the parcel.</li>
                    <li>To cancel the order, customers need not pay any charge, but will be responsible for covering the
                         cost of returning the goods.</li>
                    <li>You must notify us of your cancellation in writing by emailing <a href="mailto:helpdesk@pillais.in">helpdesk@pillais.in</a>. Please talk
                         to our customer care executive regarding the cancellation or the returning of the product;
                         he/she may suggest some alternative ways of resolving your issue. However, If you decide to
                         proceed, we will cancel your order or accept the returned product as desired.</li>
                    <li>You must return the goods to our contact address in their original condition at your own cost,
                         (unless we delivered the item to you in error or the item is damaged or defective), as soon as
                         possible once you have cancelled the contract.</li>
                    <li>We reserve the right to make a charge not exceeding our direct costs of recovering the goods, if
                         you do not return the goods or return them at our expense.</li>
                    <li>Please let us know once you have cancelled the order or returned any product to our warehouse on
                         the above contact details, so that we will be able to process the refund to your account.
                         Refunds will be made within 3-5 working days, after the product is received at our warehouse.
                    </li>
               </ul>
               <h4>TERMS & CONDITIONS TO CANCEL THE ORDER:</h4>
               <ul>
                    <li>Customer has to bear the delivery fee to send the products back to our warehouse.</li>
                    <li>Customer is responsible for sending the products back to our warehouse.</li>
               </ul>
               <h4>CUSTOMER’S RESPONSIBILITIES:</h4>
               <ul>
                    <li>We advise customers to open their parcel as soon as they receive it. All fresh vegetables should
                         be stored in a refrigerator and any frozen items should be put into a freezer upon delivery. If
                         you are not happy with any item, please get in touch with our Customer Service Team within 24
                         hours of receiving the parcel by emailing <a href="mailto:helpdesk@pillais.in">support@pillais.in</a>.</li>
                    <li>Please note that photo proof is needed for any quality complaints./li>
                    <li>Customers are requested to sign for accepting the delivery.</li>
               </ul>

          </div>
     </div>
</div>