.spareparts-list {
  h4 {
    font-weight: 600;
    color: #333;
  }

  table {
    border-radius: 8px;
    overflow: hidden;

    th, td {
      vertical-align: middle;
      text-align: center;
    }

    th {
      font-weight: 600;
    }
  }

  .btn-warning {
    font-size: 0.8rem;
    padding: 2px 8px;
    border-radius: 6px;
  }
}



table tr th {
    background-color: #000000 !important;
    padding: 10px 14px;
}