<div class="modal fade" role="dialog" [ngStyle]="{'display': spinner}" aria-hidden="true" style="opacity: 99999">
    <div class="dash-loader">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <!-- <img src="assets/Loader/spinner.gif" width="500px"  alt="Loading..." /> -->
            <!-- <img src="../../../assets/pillai_images/our_story/farm_hand-drawn.png" alt="Loading..." /> -->
        </div>
    </div>