.page {
    padding: 15px;
}

.pageheader {
    margin-bottom: 30px;
}

.pageheader h2 {
    display: inline-block;
    color: #4a555b;
    font-size: 32px;
    font-weight: 300;
    margin-top: 10px;
}

.pageheader .page-bar {
    background-color: white;
    border-bottom: 1px solid #ededed;
}

.pageheader .page-bar .page-breadcrumb {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.page-breadcrumb>li:first-child {
    background-color: rgba(0, 0, 0, 0.7);
    margin-right: 8px;
}

.pageheader .page-bar .page-breadcrumb>li {
    display: inline-block;
}

.pageheader .page-bar .page-breadcrumb>li:first-child:before {
    content: "";
}

.pageheader .page-bar .page-toolbar {
    display: inline-block;
    float: right;
}

.pageheader .page-bar .page-toolbar .btn {
    padding: 8px 12px;
}

@media only screen and (max-width: 992px) {
    .page-bar .page-toolbar .btn span {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .page-bar .page-toolbar .btn {
        width: 37px;
    }
    .page-bar .page-toolbar .btn i:last-of-type {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .pageheader h2 span {
        display: block;
    }
    .pageheader .page-bar .page-breadcrumb {
        width: 100%;
    }
    .pageheader .page-bar .page-breadcrumb>li {
        font-size: 12px;
        display: block;
        padding-left: 10px;
    }
    .pageheader .page-bar .page-breadcrumb>li:first-child {
        padding-left: 0;
        margin-right: 0;
    }
    .pageheader .page-bar .page-breadcrumb>li>a {
        padding: 8px 5px;
    }
    .pageheader .page-bar .page-toolbar {
        display: none;
    }
}

.pageheader .page-bar .page-breadcrumb>li>a {
    color: #95a2a9;
    padding: 8px 10px;
    display: inline-block;
}

.pageheader .page-bar .page-breadcrumb>li:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    color: #95a2a9;
}

.add-nav .nav-heading h1,
.add-nav .nav-heading h2,
.add-nav .nav-heading h3,
.add-nav .nav-heading h4,
.add-nav .nav-heading h5,
.add-nav .nav-heading h6 {
    margin: 0;
    display: inline-block;
}

.add-nav .nav-tabs {
    background-color: white;
}

.add-nav .nav-tabs>li:first-child {
    margin-left: 10px;
}

.add-nav .nav-tabs>li>a {
    color: #616f77;
    padding: 0 8px 10px;
    margin: 0 10px;
}

.add-nav .nav-tabs>li>a:hover {
    color: #428bca;
    background-color: transparent;
}

.page .nav-tabs>li.active>a,
.page .nav-tabs>li.active>a:hover,
.page .nav-tabs>li.active>a:focus {
    background-color: white;
    color: #428bca;
    font-weight: 700;
}

.add-nav .nav-tabs>li.active:after {
    display: none;
}

.add-nav .tab-content .tab-pane {
    padding: 40px 0 15px;
}

.tile {
    position: relative;
    margin-bottom: 20px;
    color: #616f77;
    background-color: white;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-out;
    -moz-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    width: 100%;
}

.tile.tile-shadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
}

.tile.tile-rounded {
    border-radius: 3px;
}

.tile.collapsed .controls .minimize {
    display: none;
}

.tile.collapsed .controls .expand {
    display: inline !important;
}

.tile.refreshing {
    filter: alpha(opacity=30);
    opacity: 0.3;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tile.refreshing a {
    pointer-events: none;
    cursor: default;
}

.tile.isInFullScreen {
    width: 90%;
    overflow: auto;
}

.tile.isInFullScreen .controls .remove {
    display: none;
}

.tile.isInFullScreen .controls>li:first-child {
    margin-right: 0 !important;
}



.tile .dvd.dvd-white {
    border-color: rgba(255, 255, 255, 0.1);
}

.tile .dvd.dvd-btm {
    border-bottom-width: 1px;
}

.tile .dvd.dvd-top {
    border-top-width: 1px;
}

.tile.tile-simple .tile-header .controls>li {
    background-color: transparent !important;
}

.tile.tile-simple .tile-header .controls>li>a {
    line-height: 28px;
    min-width: 28px;
    padding: 0 10px;
    font-size: 12px;
}

.tile .tile-header {
    padding: 8px 15px;
}

.tile .tile-header h1,
.tile .tile-header h2,
.tile .tile-header h3,
.tile .tile-header h4 {
    padding: 0;
    margin: 0;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.tile .tile-header h2 {
    font-size: 18px;
}

.tile .tile-header h3 {
    font-size: 16px;
}

.tile .tile-header h4 {
    font-size: 14px;
}

.tile .tile-header .controls {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.tile .tile-header .controls>li {
    display: inline-block;
    height: 100%;
    float: left;
}

.tile .tile-header .controls>li>a {
    display: block;
    height: 100%;
    line-height: 43px;
    min-width: 41px;
    padding: 0 10px;
    text-align: center;
    color: #95a2a9;
}

.tile .tile-header .controls>li>a:hover {
    color: #616f77;
    text-decoration: none;
}

.tile .tile-header .controls .expand {
    display: none;
}

.tile .tile-header.dvd .controls {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tile .tile-header.dvd .controls>li {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.tile .tile-header.dvd.dvd-white .controls>li {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.tile .tile-header .note {
    display: inline-block;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #95a2a9;
    font-family: "Dosis", "Arial", sans-serif;
    font-size: 12px;
    margin-left: 5px;
    position: relative;
    top: -2px;
    margin-top: 5px;
}

.tile .tile-header .btn {
    padding: 2px 5px;
    margin-right: -24px;
}

.tile .tile-header.cover {
    padding: 0;
}

.tile .tile-nav {
    margin-bottom: 15px;
}

.tile .tile-nav>li {
    display: inline-block;
}

.tile .tile-nav>li>a {
    padding: 6px 12px;
}

.nav-heading h3 {
    font-size: 24px;
    color: #616f77;
}

.text-greensea {
    color: #ff5400;
}

.page .nav-tabs {
    background-color: white;
    border: none;
}

.page .nav-tabs>li:first-child {
    margin-left: 10px;
}

.page .nav-tabs>li>a {
    color: #616f77;
    padding: 0 8px 10px;
    margin: 0 10px;
    border: none;
    border-bottom: 3px solid transparent;
    font-size: 14px;
}

.page .nav-tabs>li:first-child>a {
    border-bottom-color: #428bca;
}

.tab-content tab.tab-pane {
    padding: 40px 0 15px;
}

.text-default.lt {
    color: #a3aeb4;
    font-size: 14px;
    line-height: 30px;
}

.mt-40 {
    margin-top: 40px !important;
    font-size: 14px;
}

.text-Strong {
    font-weight: 600;
}

.custo-detail {
    float: left;
}

.custo-detail p.text-uppercase {
    font-size: 14px;
}

.custo-detail li {
    color: #000;
}

.customer-detail {
    color: #000;
    line-height: 30px;
    font-size: 14px;
}

.w-xs {
    width: 100px;
    display: inline-block;
}

.customer-detail a {
    color: #337ab7;
}

.col-md-12 {
    font-size: 14px;
}

.legend.user-detail {
    background-color: #16a085;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.legend.tasker-detail {
    background-color: #e05d6f;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.legend.driver-detail {
    background-color: #e88aff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.legend.task-detail {
    background-color: #418bca;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.legend.payment-detail {
    background-color: #3f4e62;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.grouping .wrap-reset {
    padding: 10px 10px;
}

.admin-bg-color .row {
    margin-right: 0px !important;
}

.admin-bg-color h4 {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 18px;
    color: #fff;
}

.admin-bg-color i {
    font-size: 20px;
    padding: 0px 10px;
    padding-top: 6px;
    margin-top: 7px;
    color: #fff;
}

.admin-bg-color {
    background-color: rgba(155, 153, 153, 0.17);
    padding: 0px 0px;
    padding-left: 15px;
    margin-top: 20px;
    border: 1px solid rgba(199, 197, 197, 0.35);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.order-detail {
    line-height: 30px;
}

.order-detail {
    line-height: 30px;
}

.billing-detail {
    line-height: 30px;
}

.billing-detail {
    padding: 0px;
    width: 100%;
}

.user-tasker {
    float: left;
    width: 100%;
}

.grouping {
    background-color: #fff;
    float: left;
    width: 100%;
}

.user-tasker.col-md-12 {
    padding: 0px;
    margin: 0px;
}

.user-tasker .form-group.legend p {
    border: none;
}

.task-pay .form-group.legend p {
    border: none;
}

.task-pay {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.task-pay.col-md-12 {
    padding: 0px;
}

.box-height {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 0px;
}

.grouping .form-group {
    margin-bottom: 0px;
    padding-bottom: 10px;
    height:100%;
}

.usr-det {
    line-height: 30px !important;
}

.custo-detail {
    float: left;
}

.custo-detail li {
    color: #000;
}

.genrl-sett h4 {
    color: #337ab7 !important;
}

.genrl-sett label {
    font-size: 15px;
}

.genrl-sett label.switch {
    display: inline-block !important;
    width: 60px;
}

.genrl-sett .switch-input:checked~.switch-handle {
    left: 28px;
}

label.categry-label {
    padding: 5px 2px;
}

.billing-detail p {
    margin: 0px;
    padding: 0px;
}

.ui-widget-content {
    border-radius: 50%;
}

.invoice-text li {
    color: #000;
}

.invoice-text li a {
    color: #000;
    text-decoration: none;
}

.invoice-text p {
    color: #000;
}

.invoice-text h6 {
    color: #ff5400;
    font-size: 16px;
}

.invoice-text h3 {
    margin-top: 5px !important;
}

.invoice-text th {
    color: #ff5400;
}

.invoice-text td a {
    color: #000;
}

.invoice-text td {
    color: #000;
}

.user-detail {
    line-height: 30px;
    color: #000;
}

.task-detail,
.payment-detail {
    line-height: 30px;
    color: #000;
}

.page-breadcrumb>li:first-child a {
    font-size: 0;
}

.page-breadcrumb>li:first-child a i:before {
    font-size: 16px;
    padding: 0px 4px;
}

::ng-deep .editor_tasks .nav-tabs {
    background: #fff;
}

::ng-deep .editor_tasks .nav-tabs li a {
    border: none !important;
    border-bottom: 3px solid transparent!important;
    color: #616f77;
}

::ng-deep .editor_tasks .nav-tabs li.active a {
    border-bottom-color: #428bca !important;
    color: #428bca;
    font-weight: 600;
}

.nav-tabs>li {
    margin: 0 13px;
}

button.pull-right {
    padding: 7px 30px;
    overflow: hidden;
    font-size: 14px;
    background: #5cb85c;
    border-radius: 0;
    border: none;
}

::ng-deep .tab-content {
    margin-top: 40px;
}

.modal.fade .modal-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    margin: 30px auto;
}

.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header h3 {
    font-size: 24px;
    margin: 0;
    line-height: 1.42857143;
    color: #616f77;
}

.modal-header button {
    background: transparent !important;
    padding: 0 !important;
    font-size: 30px !important;
    line-height: 49px;
    padding-right: 10px !important;
    outline: none !important;
}

.modal-body textarea {
    width: 100%;
    border: 1px solid #dbe0e2;
    outline: none;
    height: 122px;
}

.modal-footer button {
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
    border-radius: 0;
}

.modal-open .modal:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000006e;
}

ul.page-breadcrumb li a i {
    color: #fff;
}
.user-head {
    width: 100%;
    padding: 10px;
}
.ex3 ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 9px;
}
.ex3 li {
    color: #252525;
}
section.grouping.tile.tile-simple {
    top: 35px;
}
.card-footer {
    width: 97%;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 40px;
}
button.btn.back-btns {
    width: 100px;
    margin-left: auto;
}
.item-list {
    width: 100%;
}
.item-list p {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0
}
.item-ex h6 strong {
    color: #252525;
}
.order-packed-btn {
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    top: 2px;
}