::ng-deep .email_template-email_template_list {
  table {
    thead {
      tr {
        th {
          border: none;
        }
      }
    }
    tbody {
      tr {
        td:nth-child(-n+4) {
          font-weight: 700;
        }
        td:nth-child(5) span {
          font-size: 12px;
        }
      }
    }
  }
}
