<div class="email_template-email_template_list  margin_top">
    <div class="container">
        <app-common-table [settings]="settings" [source]="source" [count]="count" [itemsPerPage]="default_limit"
            [tablename]="'Email Template List'" [add_btn]="add_btn" [addBtnUrl]="addBtnUrl" [addBtnName]="addBtnName"
            [editUrl]="editUrl" [deleteApis]="deleteApis" (onDeleteChange)="onDeleteChange($event)" [viewUrl]="viewUrl"
            (onitemsPerPageChange)="onitemsPerPageChange($event)" [card_details]="card_details"
            (onPageChange)="onPageChange($event)" (onheaderCardChange)="onheaderCardChange($event)"
            (onSearchChange)="onSearchChange($event)">
        </app-common-table>
    </div>
</div>