<section class="wishlist pt_110">
	<div class="container">
		<h2>Wish List</h2>
		<div class="wishlist-parts"> 
			<div class="cart-part">
				<div class="cart-part-sec">
					<span class="cart-p-img"><img src="../../../assets/image/pillais/product-img/Homemade-Madurai-Arabian-Alfaham-Chicken-Masala.jpg" alt="" /></span>
					<div class="cart-part-text">
						
						<h3>Homemade Madurai Prawn Fry Masala</h3>
						<ul>
							<li>1 item (100g)</li>
							<li>Varieties : Pouch</li>
							<li class="veriant">SKU  UKPF476</li>
						</ul>
						<div class="move-to-cart">
							<button>Add To cart</button>
						</div>
					</div>	
				</div>
				<div class="cart-wishlist-line">
					<button><img src="../../../assets/image/pillais/trash.png" alt="" /></button>
				</div>
			</div>
			
			<div class="cart-part">
				<div class="cart-part-sec">
					<span class="cart-p-img"><img src="../../../assets/image/pillais/product-img/Homemade-Madurai-Arabian-Alfaham-Chicken-Masala.jpg" alt="" /></span>
					<div class="cart-part-text">
						
						<h3>Homemade Madurai Prawn Fry Masala</h3>
						<ul>
							<li>1 item (100g)</li>
							<li>Varieties : Pouch</li>
							<li class="veriant">SKU  UKPF476</li>
						</ul>
						<div class="move-to-cart">
							<button>Add To cart</button>
						</div>
					</div>	
				</div>
				<div class="cart-wishlist-line">
					<button><img src="../../../assets/image/pillais/trash.png" alt="" /></button>
				</div>
			</div>
			<div class="cart-part">
				<div class="cart-part-sec">
					<span class="cart-p-img"><img src="../../../assets/image/pillais/product-img/Homemade-Madurai-Arabian-Alfaham-Chicken-Masala.jpg" alt="" /></span>
					<div class="cart-part-text">
						
						<h3>Homemade Madurai Prawn Fry Masala</h3>
						<ul>
							<li>1 item (100g)</li>
							<li>Varieties : Pouch</li>
							<li class="veriant">SKU  UKPF476</li>
						</ul>
						<div class="move-to-cart">
							<button>Add To cart</button>
						</div>
					</div>	
				</div>
				<div class="cart-wishlist-line">
					<button><img src="../../../assets/image/pillais/trash.png" alt="" /></button>
				</div>
			</div>
			<div class="cart-part">
				<div class="cart-part-sec">
					<span class="cart-p-img"><img src="../../../assets/image/pillais/product-img/Homemade-Madurai-Arabian-Alfaham-Chicken-Masala.jpg" alt="" /></span>
					<div class="cart-part-text">
						
						<h3>Homemade Madurai Prawn Fry Masala</h3>
						<ul>
							<li>1 item (100g)</li>
							<li>Varieties : Pouch</li>
							<li class="veriant">SKU  UKPF476</li>
						</ul>
						<div class="move-to-cart">
							<button>Add To cart</button>
						</div>
					</div>	
				</div>
				<div class="cart-wishlist-line">
					<button><img src="../../../assets/image/pillais/trash.png" alt="" /></button>
				</div>
			</div>
			<div class="cart-part">
				<div class="cart-part-sec">
					<span class="cart-p-img"><img src="../../../assets/image/pillais/product-img/Homemade-Madurai-Arabian-Alfaham-Chicken-Masala.jpg" alt="" /></span>
					<div class="cart-part-text">
						
						<h3>Homemade Madurai Prawn Fry Masala</h3>
						<ul>
							<li>1 item (100g)</li>
							<li>Varieties : Pouch</li>
							<li class="veriant">SKU  UKPF476</li>
						</ul>
						<div class="move-to-cart">
							<button>Add To cart</button>
						</div>
					</div>	
				</div>
				<div class="cart-wishlist-line">
					<button><img src="../../../assets/image/pillais/trash.png" alt="" /></button>
				</div>
			</div>
			<div class="cart-part">
				<div class="cart-part-sec">
					<span class="cart-p-img"><img src="../../../assets/image/pillais/product-img/Homemade-Madurai-Arabian-Alfaham-Chicken-Masala.jpg" alt="" /></span>
					<div class="cart-part-text">
						
						<h3>Homemade Madurai Prawn Fry Masala</h3>
						<ul>
							<li>1 item (100g)</li>
							<li>Varieties : Pouch</li>
							<li class="veriant">SKU  UKPF476</li>
						</ul>
						<div class="move-to-cart">
							<button>Add To cart</button>
						</div>
					</div>	
				</div>
				<div class="cart-wishlist-line">
					<button><img src="../../../assets/image/pillais/trash.png" alt="" /></button>
				</div>
			</div>
		</div>	
	</div>
</section>