<div class="setting_add_time_slot margin_top">
    <div class="container">

        <div class="full_page_title">
            <strong class="custom-font">{{pagetitle}} Time Slot
            </strong>
        </div>
        <form class="profile-settings" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" submit-validate
            name="categoryForm" novalidate>
            <fieldset ng-disabled="myBooleanValue">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="weekdays">
                            <label for="weekday" class="control-label">Weekdays<span class="color_red">*</span></label>
                            <ng-select id="weekday" name="weekday" class="form-control custom-ng-select"
                                placeholder="Select a Day" [(ngModel)]="selectedWeekday" #weekdayModel="ngModel"
                                required>
                                <ng-option value="">Select a Day</ng-option>
                                <ng-option value="Monday">Monday</ng-option>
                                <ng-option value="Tuesday">Tuesday</ng-option>
                                <ng-option value="Wednesday">Wednesday</ng-option>
                                <ng-option value="Thursday">Thursday</ng-option>
                                <ng-option value="Friday">Friday</ng-option>
                                <ng-option value="Saturday">Saturday</ng-option>
                                <ng-option value="Sunday">Sunday</ng-option>
                            </ng-select>
                            <p class="help-block m-0">
                                <span class="invalid-feedback"
                                    *ngIf="categoryForm.submitted && categoryForm.controls.weekday.errors?.required">Weekday
                                    is required.</span>
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="slot_time"
                            ng-class="{ 'has-error' : categoryForm.slottime.$invalid && !categoryForm.slottime.$pristine, 'has-success' : categoryForm.slottime.$valid && !categoryForm.slottime.$pristine}">
                            <label for="slottime">Slot Time<span class="color_red">*</span></label>
                            <input type="number" name="slottime" class="form-control" (change)="slotTimeChange($event)"
                                ngModel #slottime="ngModel" id="slottime" (input)="validateInput($event)" required>
                            <p class="help-block m-0">
                                Note:- Please Enter slot time in mints.
                                <span class="invalid-feedback"
                                    *ngIf="categoryForm.submitted && categoryForm.value.slottime > 999">Slot
                                    Time Must Be
                                    Maximum Of 3 Numbers.</span>
                                <span class="invalid-feedback"
                                    *ngIf="categoryForm.submitted && categoryForm.controls.slottime.errors && categoryForm.controls.slottime.errors.required">Slot
                                    Time is required.</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="start_time"
                            ng-class="{ 'has-error' : categoryForm.starttime.$invalid && !categoryForm.starttime.$pristine, 'has-success' : categoryForm.starttime.$valid && !categoryForm.starttime.$pristine}">
                            <label for="starttime">Start Time<span class="color_red">*</span></label>
                            <timepicker id="starttime" name="starttime" default-time="7pm" class="form-field"
                                (ngModelChange)="startTimeChanger($event)" label="Enter time:" ngModel
                                #starttime="ngModel" required>
                            </timepicker>
                            <p class="help-block m-0">
                                <span class="invalid-feedback"
                                    *ngIf="categoryForm.submitted && categoryForm.controls.starttime.errors && categoryForm.controls.starttime.errors.required">Start
                                    Time is required.</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="end_time"
                            ng-class="{ 'has-error' : categoryForm.endtime.$invalid && !categoryForm.endtime.$pristine, 'has-success' : categoryForm.endtime.$valid && !categoryForm.endtime.$pristine}">
                            <label for="endtime">End Time</label>
                            <timepicker id="endtime" name="endtime" default-time="7pm" class="form-field"
                                label="Enter time:" ng-model="TSAT.edittimeslotsData.time_end"
                                (ngModelChange)="endTimeChanger($event)" ngModel #endtime="ngModel" required>
                            </timepicker>
                            <p class="help-block m-0">
                                <span class="invalid-feedback"
                                    *ngIf="categoryForm.submitted && categoryForm.controls.endtime.errors && categoryForm.controls.endtime.errors.required">End
                                    Time is required.</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="status"
                            ng-class="{ 'has-error' : categoryForm.status.$invalid && !categoryForm.status.$pristine, 'has-success' : categoryForm.status.$valid && !categoryForm.status.$pristine}">
                            <label for="status">Status</label>
                            <ng-select [items]="statusOptions" bindLabel="label" bindValue="value"
                                [(ngModel)]="selectedStatus" name="status" id="status" #status="ngModel"
                                class="form-control custom-ng-select mb-10"
                                [ngClass]="{ 'is-invalid': categoryForm.submitted && status.errors, 'is-valid': !status.errors && status.valid }"
                                [style.border-radius.px]="dropdownBorderRadius1" required>
                                <ng-option value="">Select</ng-option>
                                <ng-option *ngFor="let option of statusOptions" [value]="option.value">{{
                                    option.label }}</ng-option>
                            </ng-select>
                            <p class="help-block m-0">
                                <span class="invalid-feedback"
                                    *ngIf="categoryForm.submitted && categoryForm.controls.status.errors && categoryForm.controls.status.errors.required">Status
                                    is required.</span>
                            </p>
                        </div>

                    </div>
                </div>
            </fieldset>
            <div class="card_footer_btn">

                <button class="btn btn-ef btn-ef-5 btn-ef-5a" ng-click="TSAT.submitTimeslot(categoryForm.$valid)">
                    <span>Submit</span></button>
            </div>
        </form>

    </div>
</div>

<!-- <div class="form-group col-md-4"
    ng-class="{ 'has-error' : categoryForm.weekday.$invalid && !categoryForm.weekday.$pristine, 'has-success' : categoryForm.weekday.$valid && !categoryForm.weekday.$pristine}">
    <label for="weekday" class="control-label">Weekdays<span class="color_red">*</span></label>
    <select type="text" name="weekday" id="weekday" class="form-control" ngModel #weekday="ngModel" required>
        <option value="">Select a Day</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>
    <p class="help-block m-0">
        <span class="invalid-feedback"
            *ngIf="categoryForm.submitted && categoryForm.controls.weekday.errors && categoryForm.controls.weekday.errors.required">weekday
            is
            required.</span>
    </p>
</div> -->