::ng-deep th.ng2-smart-th.avatar {
  width: auto;
  height: auto;
  display: block;
  border-radius: 0 !important;
}

::ng-deep .product-product_list .container {
  position: relative;
  .bulk_upload {
    position: absolute;
    right: 250px;
    z-index: 2;
  }
}
.bulk_uploded_modal {
  max-width: 900px;
  width: 100%;
  margin: 0;
  h4 {
    font-size: 20px;
    font-weight: 800;
  }
  .btn-close {
    border: none;
    border-radius: 50px;
    padding: 3px 10px;
    position: absolute;
    right: -15px;
    top: -15px;
  }
  .modal-body {
    form {
      .form-group {
        input {
          padding: 0;
          &::-webkit-file-upload-button {
            height: 33px;
            border: none;
          }
        }
      }
    }
  }
}

::ng-deep .product_list_only .adds-heading {
  right: -15px !important;
  top: 53px !important;
}
::ng-deep .product_list_only .full_page_title {
  margin-bottom: 24px;
}