<div class="app-body cus-login">
    <div class="main d-flex align-items-center login-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto midl-spaces">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form #resetpassForm="ngForm" (ngSubmit)="onFormSubmit(resetpassForm)"
                                    autocomplete="off">
                                    <div class="login-logo">
                                        <img *ngIf="logo" [src]='environment+logo'>
                                        <img *ngIf="!logo" src='../../../assets/image/logo.png'>
                                    </div>
                                    <p class="text-muted">Reset Your Password</p>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" ngModel placeholder="Password"
                                            #password="ngModel" name="password"
                                            pattern="((?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*\W)\w.{6,18}\w)" required>
                                        <div class="req-content" *ngIf="resetpassForm.submitted && !password.valid">
                                            <div *ngIf="password.errors.required">Password is required.</div>
                                            <div *ngIf="password.errors.pattern">
                                                Password must contain at least one uppercase letter, one special
                                                character, and be between 8 and 20 characters long.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" ngModel
                                            placeholder="Repeat password" #confirm_password="ngModel"
                                            name="confirm_password" required>
                                        <div class="req-content"
                                            *ngIf="resetpassForm.submitted && !confirm_password.valid">
                                            <div *ngIf="confirm_password.errors.required">Repeat Password is required.
                                            </div>

                                        </div>
                                        <div class="req-content"
                                            *ngIf="resetpassForm.submitted && confirm_password.valid && password.valid">
                                            <div *ngIf="confirm_password.value != password.value">Password and Repeat
                                                Password is Mismatch.</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn login-btns px-4">Submit</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button type="button" class="btn btn-link password-links px-0"
                                                routerLink="/auth/login">Login?</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>