<div class="container">
    <div class="payment-failure">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header p-0">
                        <span class="pay-img"><img src="assets/image/failure.gif" alt="success-video" width="100%"
                                height="100%"></span>
                    </div>
                    <div class="card-body p-0">
                        <h2 class="modal-title text-center" style="color: #e50808;">Payment Failed</h2>
                        <!-- <p class="trans-p fw-bold text-center">Transaction number: <b>#65748</b></p> -->
                        <p class="trans-p p-text text-center">Unfortunately payment was rejected</p>
                    </div>
                    <div class="card-footer p-0 my-3">
                        <button [routerLink]="['/cart']" type="button" class="btn shop-btn">Back To My Orders</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>