::ng-deep .category_sub_cat_list {
  .customtable-design {
    table {
      thead{
        tr{
          th{
            border: none;
          }
        }
      }
      tbody {
        tr {
          td:nth-child(3),
          td:nth-child(2) {
            ng2-smart-table-cell {
              table-cell-view-mode {
                div {
                  font-weight: 700;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
